@{
    Layout = null;
}

<div class="banner">
                <div class="home-banner-1-2-container">
                    <div id="home-banner-1-2-main">
                        <div class="main-image">
                            <img src="https://media.foody.vn/biz_banner/foody-hai%20san%20v68%201170x375-636316615549556692.jpg" alt="V68 - Hải Sản Các Món" title="V68 - Hải Sản Các Món" class="big-img">
                        </div>
                        <div class="image-thumb">
                            <ul>
                                <li class="">
                                    <a href="https://media.foody.vn/biz_banner/foody-1170-375-dwok-01-636287268596165301.jpg" title="DWOK - Ẩm Thực Singapore">
                                        <img src="https://media.foody.vn/biz_banner/s40x40/foody-1170-375-dwok-01-636287268596165301.jpg" alt="DWOK - Ẩm Thực Singapore" title="DWOK - Ẩm Thực Singapore">
                                    </a>
                                    <div class="block">
                                        <div class="thumb-descr"><p><span style="font-size:11px">Ẩm thực Singapore - Cua giá&nbsp;chỉ&nbsp;520,000/kg</span></p>
                                        </div>
                                        <h2><a title="DWOK - Ẩm Thực Singapore">DWOK - Ẩm Thực Singapore</a></h2>
                                        <div class="lst-left-thumb-img-container">
                                            <div class="lst-left-thumb-img">
                                            <a target="_blank" href="https://www.foody.vn/ha-noi/dwok-am-thuc-singapore" title="DWOK - Ẩm Thực Singapore" class="detail-link-overlay" onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'DWOK - Am Thuc Singapore');">&nbsp;</a><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'DWOK - Am Thuc Singapore');" width="0" height="0"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="">
                                <a href="https://media.foody.vn/biz_banner/foody-salmonoid%201170x375-636322705502527649.jpg" title="Salmonoid - Món Âu - Cao Bá Quát">
                                <img src="https://media.foody.vn/biz_banner/s40x40/foody-salmonoid%201170x375-636322705502527649.jpg" alt="Salmonoid - Món Âu - Cao Bá Quát" title="Salmonoid - Món Âu - Cao Bá Quát">
                                </a>
                                <div class="block">
                                <div class="thumb-descr"><p><span style="font-size:11px">For this so hot Summer</span></p>
                                </div>
                                <h2><a title="Salmonoid - Món Âu - Cao Bá Quát">Salmonoid - Món Âu - Cao Bá Quát</a></h2>
                                <div class="lst-left-thumb-img-container">
                                <div class="lst-left-thumb-img">
                                <a target="_blank" href="https://www.tablenow.vn/ha-noi/salmonoid-cao-ba-quat" title="Salmonoid - Món Âu - Cao Bá Quát" class="detail-link-overlay" onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'Salmonoid - Mon Au - Cao Ba Quat');">&nbsp;</a><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'Salmonoid - Mon Au - Cao Ba Quat');" width="0" height="0"></div>
                                </div>
                                </div>
                                </li>
                                <li class="">
                                <a href="https://media.foody.vn/biz_banner/foody-6-5%20copy%20copy3333333333-636316502668694427.jpg" title="Bò Tơ Tây Ninh Tài Sanh - Chùa Bộc">
                                <img src="https://media.foody.vn/biz_banner/s40x40/foody-6-5%20copy%20copy3333333333-636316502668694427.jpg" alt="Bò Tơ Tây Ninh Tài Sanh - Chùa Bộc" title="Bò Tơ Tây Ninh Tài Sanh - Chùa Bộc">
                                </a>
                                <div class="block">
                                <div class="thumb-descr"><p><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">Rộng rãi, thoáng đãng, không gian không bị ồn ào.</span></span></p>
                                </div>
                                <h2><a title="Bò Tơ Tây Ninh Tài Sanh - Chùa Bộc">Bò Tơ Tây Ninh Tài Sanh - Chùa Bộc</a></h2>
                                <div class="lst-left-thumb-img-container">
                                <div class="lst-left-thumb-img">
                                <a target="_blank" href="https://www.foody.vn/ha-noi/bo-to-tay-ninh-tai-sanh-chua-boc/khuyen-mai/4466" title="Bò Tơ Tây Ninh Tài Sanh - Chùa Bộc" class="detail-link-overlay" onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'Bo To Tay Ninh Tai Sanh - Chua Boc');">&nbsp;</a><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'Bo To Tay Ninh Tai Sanh - Chua Boc');" width="0" height="0"></div>
                                </div>
                                </div>
                                </li>
                                <li class="">
                                <a href="https://media.foody.vn/biz_banner/foody-hai%20san%20v68%201170x375-636316615549556692.jpg" title="V68 - Hải Sản Các Món">
                                <img src="https://media.foody.vn/biz_banner/s40x40/foody-hai%20san%20v68%201170x375-636316615549556692.jpg" alt="V68 - Hải Sản Các Món" title="V68 - Hải Sản Các Món">
                                </a>
                                <div class="block">
                                <div class="thumb-descr"><p><span style="font-size:11px">Giảm ngay 20% tổng hóa đơn cho khách đặt bàn trước.</span></p>
                                </div>
                                <h2><a title="V68 - Hải Sản Các Món">V68 - Hải Sản Các Món</a></h2>
                                <div class="lst-left-thumb-img-container">
                                <div class="lst-left-thumb-img">
                                <a target="_blank" href="https://www.foody.vn/ha-noi/v68-hai-san-cac-mon/khuyen-mai/4769" title="V68 - Hải Sản Các Món" class="detail-link-overlay" onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'V68 - Hai San Cac Mon');">&nbsp;</a><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'V68 - Hai San Cac Mon');" width="0" height="0"></div>
                                </div>
                                </div>
                                </li>
                                <li class="active">
                                <a href="https://media.foody.vn/biz_banner/foody-bbq%20plus%201170x375-636322563573478363.jpg" title="BBQ Plus - Buffet Nướng &amp; Lẩu Hàn Quốc">
                                <img src="https://media.foody.vn/biz_banner/s40x40/foody-bbq%20plus%201170x375-636322563573478363.jpg" alt="BBQ Plus - Buffet Nướng &amp; Lẩu Hàn Quốc" title="BBQ Plus - Buffet Nướng &amp; Lẩu Hàn Quốc">
                                </a>
                                <div class="block">
                                <div class="thumb-descr"><p><span style="font-size:11px">Ăn 4 tặng 1 - Ăn buffet nướng&nbsp;tặng lẩu</span></p>
                                </div>
                                <h2><a title="BBQ Plus - Buffet Nướng &amp; Lẩu Hàn Quốc">BBQ Plus - Buffet Nướng &amp; Lẩu Hàn Quốc</a></h2>
                                <div class="lst-left-thumb-img-container">
                                <div class="lst-left-thumb-img">
                                <a target="_blank" href="https://www.foody.vn/ha-noi/bbq-plus-buffet-nuong-lau-han-quoc" title="BBQ Plus - Buffet Nướng &amp; Lẩu Hàn Quốc" class="detail-link-overlay" onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'BBQ Plus - Buffet Nuong &amp; Lau Han Quoc');">&nbsp;</a><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'BBQ Plus - Buffet Nuong &amp; Lau Han Quoc');" width="0" height="0"></div>
                                </div>
                                </div>
                                <div class="arrow-current"></div></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>