<div class="footer-addtional-tool-and-company">
    <div class="footer-fixed">
        <div class="footer-min">
            <div class="footer-left-box">
                <div class="footer-titles">Cài đặt</div>
                <ul>
                    <li style="width:100%;float:left;margin:3px 0 7px;">
                        <div style="float: left;padding:3px 5px 0 0;color:#666; width:100px;">Tỉnh thành</div>
                        <div style="float: left;">
                            <dl id="f_dropdown" class="drop_seeall">
                                <dt>
                                    <a href="javascript:void(0)"><span class="text">Hà Nội</span></a>
                                </dt>
                            </dl>
                        </div>
                    </li>
                    <li style="width:100%;float:left;margin:3px 0 7px;">
                        <div style="float: left;padding-right:5px;color:#666; width:100px;">Ngôn ngữ</div>
                        <div class="footer-language-chooser">
                            <a href="javascript:void(0)" rel="nofollow" style="color: #02AAD4">Tiếng Việt</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer-middle-box">
                <div class="footer-titles">Khám phá</div>
                <ul>
                    <li><a href="/ung-dung-mobile" rel="nofollow">Ứng dụng Mobile</a></li>
                    <li><a href="/__get/common/toggleview" rel="nofollow">Mobile Web</a></li>
                    <li><a href="/viet-binh-luan" rel="nofollow">Viết bình luận</a></li>
                    <li><a href="/tao-list" rel="nofollow">Tạo bộ sưu tập</a></li>
                    <li><a href="/chinh-sach-thuong" rel="nofollow">Phần thưởng</a></li>
                    <li><a href="/bao-mat-thong-tin" rel="nofollow">Bảo mật thông tin</a></li>
                    <li><a href="/dieu-khoan-su-dung" rel="nofollow">Quy định</a></li>
                </ul>
            </div>
            <div class="footer-middle-box">
                <div class="footer-titles">Công ty</div>
                <ul>
                    <li><a href="/gioi-thieu" rel="nofollow">Giới thiệu</a></li>
                    <li><a href="/ha-noi/food/bai-viet" rel="nofollow">Blogs</a></li>
                    <li><a href="/tro-giup" rel="nofollow">Trợ giúp</a></li>
                    <li><a href="/jobs" rel="nofollow">Việc làm</a></li>
                    <li><a href="/nha-dau-tu" rel="nofollow">Nhà đầu tư</a></li>
                    <li><a href="/gop-y" rel="nofollow">Góp ý</a></li>
                    <li><a href="/regulation" rel="nofollow">Regulation</a></li>
                    <li><a href="/lien-he" rel="nofollow">Liên hệ</a></li>
                </ul>
            </div>
            <div class="footer-middle-box" style="padding-left: 35px; width: 200px;">
                <div class="footer-titles" rel="nofollow">Tham gia trên</div>
                <ul>
                    <li><a href="https://www.facebook.com/FoodyVietnam" target="_blank" rel="nofollow">Facebook</a></li>
                    <li><a href="https://www.instagram.com/foodysaigon" target="_blank" rel="nofollow">Instagram</a></li>
                    <li><a href="https://www.youtube.com/c/FoodyVn" target="_blank" rel="nofollow">Youtube</a></li>
                    <li><a href="https://plus.google.com/104802868919802646307" target="_blank" rel="publisher">Google</a></li>
                    <li><a title="Web  Mua sắm trực tuyến" target="_blank" href="//tiki.vn" rel="nofollow">Tiki.vn</a> - Mua sắm trực tuyến</li>
                    <li style="clear: both;">
                        <a href="https://www.tablenow.vn" target="_blank" rel="nofollow">
                            TableNow.vn
                        </a>
                        - Đặt bàn ưu đãi
                    </li>
                    <li style="clear: both;">
                        <a href="https://www.deliverynow.vn" target="_blank" rel="nofollow">
                            DeliveryNow.vn
                        </a>
                        - Giao đồ ăn tận nơi
                    </li>
                    <li style="clear: both;">
                        <a href="//www.foodypos.vn" target="_blank" rel="nofollow">
                            FoodyPOS.vn
                        </a>
                        - Phần mềm quản lý
                    </li>
                    <li style="clear: both;">
                        <a href="//www.tripnow.vn" target="_blank" rel="nofollow">
                            TripNow.vn
                        </a>
                        - Du lịch
                    </li>
                </ul>
            </div>
            <div class="footer-middle-box" style="padding-left: 35px; width: 160px;">
                <div class="footer-titles">Giấy phép</div>
                <ul>
                    <li><a>ICP 85/GP-ICP-STTTT</a></li>
                    <li><a>MXH 152/GXN-TTDT</a></li>
                    <li style="clear: both; margin-top: 5px;">
                        <a rel="nofollow" href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=13113" target="_blank">
                            SGD TMĐT 111
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="nofollow" href="http://online.gov.vn/seals/kSLBq/KmY0/fB7uANSXJ0Q==.jpgx">
                            <img src="//static.foody.vn/s1/style/images/gov_seals.jpg" width="100" style="margin-left: -5px;" alt="logo-da-dang-ky-bo-cong-thuong">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-country-list">
        <span style="color: #999; clear: both; display: block;">
            ©2017 Foody Corporation. Lầu 8, Tòa nhà Jabes 1, 244 Cống Quỳnh, P. Phạm Ngũ Lão, Quận 1, TP.HCM
        </span>
        <span id="foody-hot-line" style="color: #999; clear: both; display: block;"></span>
        <span style="color: #999; clear: both; display: block;">
            Số giấy phép ĐKKD: 0311828036 do sở Kế hoạch và Đầu Tư TPHCM cấp ngày 11/06/2012
        </span>
    </div>
</div>