<div class="footer-admobile">
    <div class="footer-down-app">
        <div class="footer-intro-app">Tìm địa điểm trên đường đi? Tải app Foody!</div>
        <div style="float:left; width:240px;margin-top:-8px;">
            <div style="border:#ddd 1px solid; background:#fff;text-align: center; padding: 5px 30px;width:100px;margin-bottom:40px; overflow:hidden; clear:both;">
                Thống kê
            </div>
            <div class="footer-down-stats">
                <div class="footer-down-stats-header">219,262 Địa điểm</div>
                <div class="footer-down-stats-desc">toàn quốc</div>
            </div>
            <div class="footer-down-stats">
                <div class="footer-down-stats-header">38,630,265 người sử dụng</div>
                <div class="footer-down-stats-desc">trong &amp; ngoài nước</div>
            </div>
            <div class="footer-down-stats">
                <div class="footer-down-stats-header">829,111 bình luận</div>
                <div class="footer-down-stats-desc">đã chia sẻ</div>
            </div>
            <div class="footer-down-stats">
                <div class="footer-down-stats-header">333,232 check-in</div>
                <div class="footer-down-stats-desc">đã thực hiện</div>
            </div>
            <div class="footer-down-stats">
                <div class="footer-down-stats-header">5,750,123 hình ảnh</div>
                <div class="footer-down-stats-desc">được tải lên</div>
            </div>
            <div class="footer-down-stats">
                <div class="footer-down-stats-header">10,418,213 Bộ sưu tập</div>
                <div class="footer-down-stats-desc">bộ sưu tập được tạo</div>
            </div>
        </div>
        <div style="float:right; width:752px;">
            <a href="https://itunes.apple.com/app/id570435154" target="_blank" style="float: left; text-align: center; display: block;max-width:250px;" rel="nofollow">
                <span style="border: #ddd 1px solid; background: #fff; padding: 5px 30px; border-radius: 2px;">iOS App</span>
                <img src="//static.foody.vn/s1/style/images/icons/ios-footer.png" alt="App Foody Indo iOS" title="App Foody Indo iOS">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.foody.vn.activity" target="_blank" style="float: left; text-align: center; display: block;max-width:250px;" rel="nofollow">
                <span style="border: #ddd 1px solid; background: #fff; padding: 5px 30px; border-radius: 2px;">Android App</span>
                <img src="//static.foody.vn/s1/style/images/icons/android-footer.png" alt="App Foody Indo Android" title="App Foody Indo Android">
            </a>
            <a href="https://www.windowsphone.com/en-us/store/app/foody/0ed64e33-cff6-4211-a971-71e496ae9066" target="_blank" style="float: left; text-align: center; display: block;max-width:250px;" rel="nofollow">
                <span style="border: #ddd 1px solid; background: #fff; padding: 5px 30px; border-radius: 2px;">Windows App</span>
                <img src="//static.foody.vn/s1/style/images/icons/windows-footer.png" alt="App Foody Indo WindowPhone" title="App Foody Indo WindowPhone">
            </a>
        </div>
    </div>
</div>