@using MvcApplication1.Models
@model SignnedInUserModel

<div class="account-manager">
    <div id="account">
        <div class="topnav">
            <a href="javascript:void(0);" class="acemail">
                <div class="fname" title="Hazu">@Model.FirstName</div>
                <img src="https://media.foody.vn/usr/g899/8983480/avt/c30x30/foody-avatar-949-636352924754329699.jpg" class="avatar-user" alt="Hazu" title="Hazu">
            </a>
        </div>
        <div id="account_menu">
            <span class="arrow"></span>
            <div class="usermenudrop">
                <div class="useremail">
                    <div class="email">@Model.UserEmail</div>
                    <a href="javascript:void(0)" class="profile-verify-button">
                        <div class="toolbar-verify-full">
                            <div style="width:0%;"></div>
                        </div>
                        <div class="toolbar-verify-text">
                            <b>0%</b> xác thực
                        </div>
                    </a>
                </div>
                <div class="headerlabel">
                    <span class="fa fa-plus-square"></span>
                    Lịch sử
                </div>
                <div class="items">
                    <a href="/thanh-vien/manunghaycuoi/lich-su-dat-mon">
                        Đặt món<span>DeliveryNow</span>
                    </a>
                </div>
                <div class="items">
                    <a href="/thanh-vien/manunghaycuoi/history-tablenow">
                        Đặt chỗ<span>TableNow</span>
                    </a>
                </div>
                <div class="headerlabel">
                    <span class="fa fa-comment"></span> 
                    Hoạt động
                </div>
                <div class="items">
                    <a href="/thanh-vien/manunghaycuoi">
                        Bình luận<span>0</span>
                    </a>
                </div>
                <div class="items">
                    <a href="/thanh-vien/manunghaycuoi/hinh-anh">
                        Ảnh &amp; Video<span>0</span>
                    </a>
                </div>
                <div class="items">
                    <a href="/thanh-vien/manunghaycuoi/ban-be">
                        Quan Tâm <span>0</span>
                    </a>
                </div>
                <div class="items">
                    <a href="/thanh-vien/manunghaycuoi/dia-diem-da-tao">
                        Địa điểm tạo<span>0</span>
                    </a>
                </div>
                <div class="headerlabel">
                    <span class="fa fa-bookmark"></span>
                        Lưu trữ
                </div>
                <div class="items">
                    <a href="/thanh-vien/manunghaycuoi/bo-suu-tap">
                        Bộ sưu tập địa điểm<span>4</span>
                    </a>
                </div>
                <div class="items">
                    <a href="/thanh-vien/manunghaycuoi/bo-suu-tap-hinh-anh">
                        Bộ sưu tập hình ảnh<span>0</span>
                    </a>
                </div>
                <div class="items">
                    <a href="/thanh-vien/manunghaycuoi/blog-subscribe">
                        Bộ sưu tập blog<span>0</span>
                    </a>
                </div>
                <div class="headerlabel">
                    <span class="fa fa-user"></span>
                        Tài khoản
                </div>
                <div>
                    <div class="items">
                        <a href="/tai-khoan/diem-thuong">Điểm thưởng</a>
                    </div>
                </div>
                <div class="items">
                    <a href="/lich-su-thanh-toan">Lịch sử thanh toán</a>
                </div>
                <div class="items">
                    <a href="/tai-khoan">Cập nhật tài khoản </a>
                </div>

                <div class="items" style="border-top: #eee 1px solid;">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id="FormLogOff"}))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:SignOut(0);" onclick="document.getElementById('FormLogOff').submit()" class="register">
                            Thoát<span class="fa fa-sign-out"></span>
                        </a>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>
