@using MvcApplication1.Models
@model SignnedInUserModel

<div class="account-manager">
    <div id="account">
        <div class="topnav">
            <a href="javascript:void(0);" class="acemail">
                <div class="fname" title="Hazu">Hazu</div>
                <img src="https://media.foody.vn/usr/g899/8983480/avt/c30x30/foody-avatar-949-636352924754329699.jpg" class="avatar-user" alt="Hazu" title="Hazu">
            </a>
        </div>
        <div></div>
    </div>
</div>
