@using MvcApplication1.Models
@model SignnedInUserModel

<div class="account-manager">
    <div id="account">
        <div class="topnav">
            <a href="javascript:void(0);" class="acemail">
                <div class="fname" title="Hazu">@Model.FirstName</div>
                <img src="https://media.foody.vn/usr/g899/8983480/avt/c30x30/foody-avatar-949-636352924754329699.jpg" class="avatar-user" alt="Hazu" title="Hazu">
            </a>
        </div>
        <div id="account_menu">
            <span class="arrow"></span>
            <div class="usermenudrop">
                <div class="useremail">
                    <div class="email">@Model.UserEmail</div>
                    <a href="javascript:void(0)" class="profile-verify-button">
                        <div class="toolbar-verify-full">
                            <div style="width:0%;"></div>
                        </div>
                        <div class="toolbar-verify-text">
                            <b>0%</b> xác thực
                        </div>
                    </a>
                </div>
                <div class="items">
                    <a href="/thanh-vien/manunghaycuoi#activity">
                        Hoạt Động Cá Nhân
                    </a>
                </div>
                <div class="items spector">
                    <a href="/thanh-vien/manunghaycuoi#archive-places/owner">
                        Lưu Trữ
                    </a>
                </div>
                <div class="items">
                    <a href="/thanh-vien/manunghaycuoi#history-delivery">
                        Lịch Sử Đặt Hàng 
                    </a>
                </div>
                <div class="items">
                    <a href="/thanh-vien/manunghaycuoi#paynow">
                        Thanh Toán PayNow
                    </a>
                </div>
                <div class="items spector">
                    <a href="/thanh-vien/manunghaycuoi#points">
                        Điểm Thưởng
                    </a>
                </div>
                <div class="items">
                    <a href="/thanh-vien/manunghaycuoi/dia-diem-da-tao">
                        Góp Ý
                    </a>
                </div>
                <div class="items">
                    <a href="/thanh-vien/manunghaycuoi/bo-suu-tap">
                        Cài Đặt Tài Khoản
                    </a>
                </div>
                <div class="items" style="border-top: #eee 1px solid;">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id="FormLogOff"}))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:SignOut(0);" onclick="document.getElementById('FormLogOff').submit()" class="register">
                            Thoát<span class="fa fa-sign-out"></span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
