<div class="wraper-bx">
    <img class="bottom" src="~/Content/img/foody-1170-60-chacangulong-01-636268082601173100.jpg" width="1170" height="60" title="Chả cá Ngư Long" />
    <img class="top" src="~/Content/img/foody-jack's deli 1170x60-636281206458926423.jpg" width="1170" height="60" title="Jacks Deli - Bakery & Restaurant - Royal City" />
</div>