<div class="header-menu-select">
    <ul class="nav-place-menu">
        <li>
            <a href="javascript:void(0)"><span class="fa fa-bars"></span></a>
            <div class="menu-frame" style="display: none;">
                <div class="arrow"></div>
                <ul class="menu-box" style="display: block">
                    <li>
                        <a href="/ha-noi/o-dau" title="Ở đâu">
                            <span>Ở đâu</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ha-noi#/booking" title="Đặt bàn">
                            <span>Đặt bàn</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ha-noi#/delivery" title="Giao hàng">
                            <span>Giao hàng</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ha-noi/hinh-anh" title="Ăn gì">
                            <span>Ăn gì</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ha-noi/bo-suu-tap" title="Sưu tập">
                            <span>Sưu tập</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ha-noi/video" title="TV">
                            <span>TV</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ha-noi/coupon" title="Coupons">
                            <span>Coupons</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ha-noi/binh-luan" title="Bình luận">
                            <span>Bình luận</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ha-noi/food/bai-viet" title="Blogs">
                            <span>Blogs</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ha-noi/khuyen-mai" title="Khuyến mãi">
                            <span>Khuyến mãi</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ha-noi/bank-card" title="Bank-Card">
                            <span>Bank-Card</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ha-noi/su-kien" title="Miễn phí">
                            <span>Miễn phí</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>