<div class="header-toolbar-wraper">
    <a href="#" class="logo"> <img src="~/Content/img/foody-vn.png" alt="Foody.vn" /> </a>
    @Html.Action("GetAllCity","City")
    @Html.Action("GetAll", "Category")
    <div class="search-bar-top">
        <div style="float: left;position: relative;border: 1px solid #eee;border-right:none; width: 415px;box-sizing: border-box;">
            <input type="text" id="txtTextSearch" placeholder="Địa điểm, món ăn, loại hình..." style="vertical-align: middle;" />
            <a href="javascript:void(0)" class="ico-nofilter" style="padding: 6px 10px 0 0;">
                <div class="fa fa-sliders"></div>
                Bộ lọc
            </a>
            <div class="suggestion-box" style="display: none;">
                <!-- res ads --><div style="padding: 5px 10px; font-size: 11px; color: #aaa; background: #FCFCFC; border-bottom: #eee 1px solid; border-top: #eee 1px solid;">Gợi ý tìm kiếm</div>
                <ul>
                    <li class="advertising" data-name="KOMBO - Cơm Niêu Singapore - Phạm Ngọc Thạch">
                        <a href="https://www.foody.vn/ha-noi/kombo-com-nieu-singapore-pham-ngoc-thach" onclick="ga('ads.send', 'event', 'Suggestion Box', 'Click', 'KOMBO - Cơm Niêu Singapore - Phạm Ngọc Thạch');" target="_blank" class="suggestion-box-item" title="KOMBO - Cơm Niêu Singapore - Phạm Ngọc Thạch">
                            <div class="suggestion-box-item-left">
                                <img src="https://media.foody.vn/res/g66/658726/prof/s128x80/foody-mobile-2-jpg-766-636302024500109813.jpg" alt="KOMBO - Cơm Niêu Singapore - Phạm Ngọc Thạch" title="KOMBO - Cơm Niêu Singapore - Phạm Ngọc Thạch">
                            </div>
                            <div class="suggestion-box-item-right">
                                <div class="suggestion-box-item-right-res-name">KOMBO - Cơm Niêu Singapore - Phạm Ngọc Thạch</div>
                                <div class="suggestion-box-item-right-res-descr" style="white-space: normal;">
                                    Mua 1 tặng 1 ngày 31/5 &amp; bao nhiêu tuổi giảm bấy nhiêu % ngày 4/6
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li class="advertising" data-name="Món Ngon Sài Thành">
                        <a href="https://www.foody.vn/ha-noi/mon-ngon-sai-thanh" onclick="ga('ads.send', 'event', 'Suggestion Box', 'Click', 'Món Ngon Sài Thành');" target="_blank" class="suggestion-box-item" title="Món Ngon Sài Thành">
                            <div class="suggestion-box-item-left">
                                <img src="https://media.foody.vn/res/g64/638578/prof/s128x80/foody-mobile-mon-ngon-st-jpg-471-636295055500665212.jpg" alt="Món Ngon Sài Thành" title="Món Ngon Sài Thành">
                            </div>
                            <div class="suggestion-box-item-right">
                                <div class="suggestion-box-item-right-res-name">Món Ngon Sài Thành</div>
                                <div class="suggestion-box-item-right-res-descr" style="white-space: normal;">
                                    Nhà hàng chuyên món ăn Sài Gòn
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li class="advertising" data-name="panorama Restaurant &amp; Skybar - Authentic Hotel">
                        <a href="https://www.foody.vn/ha-noi/panorama-restaurant-skybar-authentic-hotel" onclick="ga('ads.send', 'event', 'Suggestion Box', 'Click', 'panorama Restaurant &amp; Skybar - Authentic Hotel');" target="_blank" class="suggestion-box-item" title="Panorama Restaurant &amp; Skybar - Authentic Hotel">
                            <div class="suggestion-box-item-left">
                                <img src="https://media.foody.vn/res/g65/643114/prof/s128x80/foody-mobile-pano5-jpg-355-636250251547105350.jpg" alt="Panorama Restaurant &amp; Skybar - Authentic Hotel" title="Panorama Restaurant &amp; Skybar - Authentic Hotel">
                            </div>
                            <div class="suggestion-box-item-right">
                                <div class="suggestion-box-item-right-res-name">Panorama Restaurant &amp; Skybar - Authentic Hotel</div>
                                <div class="suggestion-box-item-right-res-descr" style="white-space: normal;">
                                    Đồ ăn chất, view đẹp.
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li class="advertising" data-name="Sừng Quăn - Lẩu Dê Tứ Xuyên">
                        <a href="https://www.foody.vn/ha-noi/sung-quan-lau-de-tu-xuyen" onclick="ga('ads.send', 'event', 'Suggestion Box', 'Click', 'Sừng Quăn - Lẩu Dê Tứ Xuyên');" target="_blank" class="suggestion-box-item" title="Sừng Quăn - Lẩu Dê Tứ Xuyên">
                            <div class="suggestion-box-item-left">
                                <img src="https://media.foody.vn/res/g30/298008/prof/s128x80/foody-mobile--f084c8c9395049c84bb-348-636247602593323087.jpg" alt="Sừng Quăn - Lẩu Dê Tứ Xuyên" title="Sừng Quăn - Lẩu Dê Tứ Xuyên">
                            </div>
                            <div class="suggestion-box-item-right">
                                <div class="suggestion-box-item-right-res-name">Sừng Quăn - Lẩu Dê Tứ Xuyên</div>
                                <div class="suggestion-box-item-right-res-descr" style="white-space: normal;">
                                    Đặt bàn qua TableNow&nbsp;tặng mã deliveryNow 100k
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li class="advertising" data-name="Lòng &quot;Chát&quot; - Bát Đàn">
                        <a href="https://www.foody.vn/ha-noi/long-chat-" onclick="ga('ads.send', 'event', 'Suggestion Box', 'Click', 'Lòng &quot;Chát&quot; - Bát Đàn');" target="_blank" class="suggestion-box-item" title="Lòng &quot;Chát&quot; - Bát Đàn">
                            <div class="suggestion-box-item-left">
                                <img src="https://media.foody.vn/res/g65/646976/prof/s128x80/foody-mobile-long-ch2-jpg-184-636262231174024399.jpg" alt="Lòng &quot;Chát&quot; - Bát Đàn" title="Lòng &quot;Chát&quot; - Bát Đàn">
                            </div>
                            <div class="suggestion-box-item-right">
                                <div class="suggestion-box-item-right-res-name">Lòng "Chát" - Bát Đàn</div>
                                <div class="suggestion-box-item-right-res-descr" style="white-space: normal;">
                                    Đệ nhất lòng sạch
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                </ul><!-- banner -->
                <div style="padding: 5px 10px;font-size: 11px; color: #aaa;background: #FCFCFC;border-bottom: #eee 1px solid;">Từ khoá đã tìm</div><ul class="sb-list-items">
                    <!-- normal -->
                </ul>
            </div>
        </div>
        <a class="ico-search">
            <span class="fa fa-search"></span>
        </a>
    </div>
    <div class="header-menu-select">
        <ul class="nav-place-menu">
            <li>
                <a href="javascript:void(0)"><span class="fa fa-bars"></span></a>
                <div class="menu-frame" style="display: none;">
                    <div class="arrow"></div>
                    <ul class="menu-box" style="display: block">
                        <li>
                            <a href="/ha-noi/o-dau" title="Ở đâu">
                                <span>Ở đâu</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ha-noi#/booking" title="Đặt bàn">
                                <span>Đặt bàn</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ha-noi#/delivery" title="Giao hàng">
                                <span>Giao hàng</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ha-noi/hinh-anh" title="Ăn gì">
                                <span>Ăn gì</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ha-noi/bo-suu-tap" title="Sưu tập">
                                <span>Sưu tập</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ha-noi/video" title="TV">
                                <span>TV</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ha-noi/coupon" title="Coupons">
                                <span>Coupons</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ha-noi/binh-luan" title="Bình luận">
                                <span>Bình luận</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ha-noi/food/bai-viet" title="Blogs">
                                <span>Blogs</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ha-noi/khuyen-mai" title="Khuyến mãi">
                                <span>Khuyến mãi</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ha-noi/bank-card" title="Bank-Card">
                                <span>Bank-Card</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ha-noi/su-kien" title="Miễn phí">
                                <span>Miễn phí</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="header-apps">
        <a href="/ung-dung-mobile" target="_blank"><span class="fa fa-mobile"></span>&nbsp;Apps</a>
    </div>
    <div class="longin-box-and-language">
        @Html.Action("IsAuthenticated", "Home")
    </div>
</div>