<div class="my-profile-menu pull-left">
    <div class="my-profile-menu-content">
        <div class="my-profile-info">
            <img src="https://media.foody.vn/usr/g899/8983480/avt/c30x30/foody-avatar-949-636352924754329699.jpg" class="avatar-user" alt="Hazu" title="Hazu">
            <h2>Hazu Gazu</h2>
        </div>
        <ul class="my-profile-additional">
            <li>
                <a id="row-user-basic-info" href="/tai-khoan" class="row-active">
                    <i class="fa fa-pencil-square-o"></i>
                    Thông tin tài khoản<i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a id="row-user-avatar" href="/tai-khoan/hinh-dai-dien">
                    <i class="fa fa-smile-o"></i>
                    Cập nhật hình đại diện<i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a id="row-user-point" href="/tai-khoan/diem-thuong">
                    <i class="fa fa-sun-o"></i>
                    Điểm thưởng<i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a id="row-user-redeem" href="/tai-khoan/quy-doi-diem-thuong">
                    <i class="fa fa-dollar"></i>
                    Quy đổi điểm thưởng<i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a id="row-user-fdc-history" href="/tai-khoan/lich-su-giao-dich-fdc">
                    <i class="fa fa-history"></i>
                    Lịch sử giao dịch FDC<i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a id="row-user-coupon-history" href="/tai-khoan/lich-su-coupon">
                    <i class="fa fa-clock-o"></i>
                    Lịch sử Coupon<i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a id="row-user-eating-preferences" href="/tai-khoan/so-thich-am-thuc">
                    <i class="fa fa-check-square-o"></i>
                    Cài đặt Gợi ý<i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a id="row-user-password" href="/tai-khoan/doi-mat-khau">
                    <i class="fa fa-minus-square-o"></i>
                    Đổi mật khẩu<i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a id="row-user-card" href="/tai-khoan/quan-ly-the">
                    <i class="fa fa-credit-card"></i>
                    Quản lý thẻ<i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>