<div class="topbar">
    <a href="#" class="current">Khám phá</a>
    <a href="#">Đặt bàn</a>
    <a href="#">Đặt Giao Hàng</a>
    <a href="#">Làm đẹp</a>
    <a href="#">Du lịch</a>
    <a href="#">FoodyPOS</a>
    <a href="#">Giảm Giá</a>
</div>
