<div class="footer-category-statistic">
    <ul class="footer-categories fw-padding">
        <li>
            <div class="fc-title">Danh mục</div>
            <ul>
                <li class="">
                    <a href="/ha-noi/sang-trong">
                        <label>Sang trọng</label>
                        <span>(81)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/nha-hang">
                        <label>Nhà hàng</label>
                        <span>(2602)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/buffet">
                        <label>Buffet</label>
                        <span>(83)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/an-vat-via-he">
                        <label>Ăn vặt/vỉa hè</label>
                        <span>(3262)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/cafe">
                        <label>Café/Dessert</label>
                        <span>(6017)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/an-chay">
                        <label>Ăn chay</label>
                        <span>(90)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/quan-an">
                        <label>Quán ăn</label>
                        <span>(10091)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/bar-pub">
                        <label>Bar/Pub</label>
                        <span>(245)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/quan-nhau">
                        <label>Quán nhậu</label>
                        <span>(1128)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/beer-club">
                        <label>Beer club</label>
                        <span>(79)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/karaoke">
                        <label>Karaoke</label>
                        <span>(639)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/tiem-banh">
                        <label>Tiệm bánh</label>
                        <span>(788)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/khu-du-lich">
                        <label>Thăm quan &amp; chụp ảnh</label>
                        <span>(48)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/billiards">
                        <label>Billiards</label>
                        <span>(106)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/tiec-cuoi-hoi-nghi">
                        <label>Tiệc cưới/Hội nghị</label>
                        <span>(142)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/cua-hang">
                        <label>Shop/Cửa hàng</label>
                        <span>(1674)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/giai-tri">
                        <label>Rạp chiếu phim</label>
                        <span>(32)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/spa-massage">
                        <label>Spa/Massage</label>
                        <span>(892)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/khach-san">
                        <label>Khách sạn</label>
                        <span>(902)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/khu-nghi-duong">
                        <label>Khu nghỉ dưỡng</label>
                        <span>(17)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/du-lich-sinh-thai">
                        <label>Du lịch sinh thái</label>
                        <span>(33)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/lam-toc">
                        <label>Làm tóc/Gội đầu/Nối mi</label>
                        <span>(6186)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/the-duc-tham-my">
                        <label>Thể dục thẩm mỹ</label>
                        <span>(222)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/tiem-nail">
                        <label>Tiệm nail</label>
                        <span>(1532)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/cong-vien-vui-choi">
                        <label>Công viên vui chơi</label>
                        <span>(21)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/bao-tang-di-tich">
                        <label>Bảo tàng &amp; Di tích</label>
                        <span>(19)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/cham-soc-da">
                        <label>Chăm sóc da</label>
                        <span>(315)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/shop-hoa-my-pham">
                        <label>Shop hóa mỹ phẩm</label>
                        <span>(681)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-danh">
                        <label>Chùa &amp; Nhà thờ</label>
                        <span>(23)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/san-khau">
                        <label>Sân khấu</label>
                        <span>(11)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/khu-choi-game">
                        <label>Khu chơi Game</label>
                        <span>(50)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/tiec-tan-noi">
                        <label>Tiệc tận nơi</label>
                        <span>(9)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/shop-online">
                        <label>Shop Online</label>
                        <span>(1042)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/giao-com-van-phong">
                        <label>Giao cơm văn phòng</label>
                        <span>(55)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/ho-boi-san-van-dong">
                        <label>Thể dục thể thao</label>
                        <span>(249)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/sieu-thi">
                        <label>Siêu thị</label>
                        <span>(116)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/trung-tam-thuong-mai">
                        <label>Trung tâm thương mại</label>
                        <span>(22)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/tham-my-vien">
                        <label>Thẩm mỹ viện</label>
                        <span>(225)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/xam-hinh">
                        <label>Xăm hình</label>
                        <span>(80)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/chup-hinh-cuoi">
                        <label>Chụp hình cưới</label>
                        <span>(364)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/trang-diem">
                        <label>Trang điểm</label>
                        <span>(93)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/ao-cuoi">
                        <label>Áo cưới</label>
                        <span>(176)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/hoa-cuoi">
                        <label>Hoa cưới - Shop hoa</label>
                        <span>(264)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/tiec-tai-gia">
                        <label>Tiệc tại gia</label>
                        <span>(27)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/phong-ve-may-bay">
                        <label>Phòng Vé Máy Bay</label>
                        <span>(280)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/phong-kham">
                        <label>Phòng khám</label>
                        <span>(1027)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/nha-khoa">
                        <label>Nha khoa</label>
                        <span>(576)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/nha-thuoc">
                        <label>Nhà thuốc</label>
                        <span>(2963)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/benh-vien">
                        <label>Bệnh viện</label>
                        <span>(102)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dai-hoc-cao-dang">
                        <label>Đại Học &amp; Cao Đẳng</label>
                        <span>(116)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/trung-tam-giao-duc">
                        <label>Trung tâm giáo dục</label>
                        <span>(85)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/trung-tam-ngoai-ngu">
                        <label>Trung tâm ngoại ngữ</label>
                        <span>(237)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/nha-sach-thu-vien">
                        <label>Nhà sách &amp; Thư viện</label>
                        <span>(145)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/nha-tre-mau-giao">
                        <label>Nhà trẻ &amp; Mẫu giáo</label>
                        <span>(1444)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/trung-hoc-pho-thong">
                        <label>Trung học &amp; Phổ Thông</label>
                        <span>(426)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/truong-day-nghe">
                        <label>Trường dạy nghề</label>
                        <span>(24)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/bank-atm">
                        <label>Bank - ATM</label>
                        <span>(1681)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/tram-xang">
                        <label>Trạm xăng</label>
                        <span>(67)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/vien-thong">
                        <label>Viễn thông</label>
                        <span>(190)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/van-tai">
                        <label>Vận tải</label>
                        <span>(1150)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/giat-ui">
                        <label>Giặt ủi</label>
                        <span>(399)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/vat-nuoi">
                        <label>Vật nuôi</label>
                        <span>(11)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/cho">
                        <label>Chợ</label>
                        <span>(23)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/tru-so-ban-nganh">
                        <label>Trụ Sở Ban Ngành</label>
                        <span>(45)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/online-shopping">
                        <label>Mua sắm Online</label>
                        <span>(15)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dich-vu-ve-sinh">
                        <label>Dịch Vụ Vệ Sinh</label>
                        <span>(1)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dich-vu-van-chuyen-do-dac">
                        <label>Dịch Vụ Vận Chuyển Đồ Đạc </label>
                        <span>(1)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/phuong-tien-xe-co">
                        <label>Phương Tiện - Xe Cộ</label>
                        <span>(353)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/home-stay">
                        <label>Homestay</label>
                        <span>(35)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/can-ho">
                        <label>Căn hộ</label>
                        <span>(33)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/nha-nghi">
                        <label>Nhà nghỉ</label>
                        <span>(34)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/hang-du-lich">
                        <label>Hãng Du Lịch</label>
                        <span>(18)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/Foodcourt">
                        <label>Khu Ẩm Thực</label>
                        <span>(17)</span>
                    </a>
                </li>
            </ul>
            <a class="fc-more">+ Xem thêm</a>
        </li>
        <li>
            <div class="fc-title">Ẩm thực</div><ul>
                <li class="">
                    <a href="/ha-noi/dia-diem-phong-cach-viet-nam">
                        <label>Việt Nam</label>
                        <span>(132763)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-phong-cach-chau-a">
                        <label>Châu Á</label>
                        <span>(7236)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-phong-cach-tay-au">
                        <label>Tây Âu</label>
                        <span>(2175)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-phong-cach-chau-my">
                        <label>Châu Mỹ</label>
                        <span>(673)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-phong-cach-dong-au">
                        <label>Đông Âu</label>
                        <span>(117)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-phong-cach-uc">
                        <label>Úc</label>
                        <span>(59)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phong-cach-bac-au">
                        <label>Bắc Âu</label>
                        <span>(16)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phong-cach-quoc-te">
                        <label>Quốc tế</label>
                        <span>(3005)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phong-cach-trung-dong">
                        <label>Trung Đông</label>
                        <span>(19)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phong-cach-chau-phi">
                        <label>Châu Phi</label>
                        <span>(13)</span>
                    </a>
                </li>
            </ul>
            <a class="fc-more">+ Xem thêm</a>
        </li>
        <li>
            <div class="fc-title">Phù hợp với mục đích</div><ul>
                <li class="">
                    <a href="/ha-noi/dia-diem-phu-hop-an-vat">
                        <label>Ăn vặt</label>
                        <span>(7025)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-phu-hop-an-gia-dinh">
                        <label>Ăn gia đình</label>
                        <span>(11597)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-phu-hop-hen-ho">
                        <label>Hẹn hò</label>
                        <span>(8781)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-phu-hop-bbq">
                        <label>BBQ - Món Nướng</label>
                        <span>(642)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-phu-hop-hop-nhom">
                        <label>Họp nhóm</label>
                        <span>(11868)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-phu-hop-dai-tiec">
                        <label>Đãi tiệc</label>
                        <span>(1390)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-an-chay">
                        <label>Ăn chay</label>
                        <span>(125)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-giao-tan-noi">
                        <label>Giao tận nơi</label>
                        <span>(1407)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-uong-bia-nhau">
                        <label>Uống bia - Nhậu</label>
                        <span>(3586)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-hat-ho">
                        <label>Hát hò</label>
                        <span>(764)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-chup-hinh-quay-phim">
                        <label>Chụp hình - Quay phim</label>
                        <span>(163)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-tiep-khach">
                        <label>Tiếp khách</label>
                        <span>(3829)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-an-binh-dan-quan-coc">
                        <label>Ăn bình dân - Quán Cóc</label>
                        <span>(5908)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-buffet">
                        <label>Buffet</label>
                        <span>(219)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-takeaway-mang-ve">
                        <label>Takeaway - Mang về</label>
                        <span>(11188)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-to-chuc-tiec-cuoi">
                        <label>Tổ chức tiệc cưới</label>
                        <span>(188)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-ngam-canh">
                        <label>Ngắm cảnh</label>
                        <span>(422)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-thu-gian">
                        <label>Thư giãn</label>
                        <span>(6960)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-doc-sach-hoc-bai">
                        <label>Đọc sách - học bài</label>
                        <span>(506)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-nghe-nhac">
                        <label>Nghe nhạc</label>
                        <span>(1104)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-du-lich">
                        <label>Du lịch</label>
                        <span>(226)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-an-fastfood">
                        <label>Ăn Fastfood</label>
                        <span>(1074)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-tiep-khach-sang-trong">
                        <label>Tiếp khách sang trọng</label>
                        <span>(355)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-picnic">
                        <label>Dã Ngoại</label>
                        <span>(13)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-danh-cho-nam-gioi">
                        <label>Dành cho Nam giới</label>
                        <span>(163)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-tiec-ngoai-troi">
                        <label>Tiệc ngoài trời</label>
                        <span>(96)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-xem-phim-hd">
                        <label>Xem phim HD</label>
                        <span>(91)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-tiec-tan-noi">
                        <label>Tiệc tận nơi</label>
                        <span>(110)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-to-chuc-hoi-thao">
                        <label>Tổ chức hội thảo</label>
                        <span>(129)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a>
                        <label>Mua sắm</label>
                        <span>(1422)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-phu-hop-an-choi-ngay-tet">
                        <label>Ăn chơi ngày Tết</label>
                        <span>(11)</span>
                    </a>
                </li>
            </ul>
            <a class="fc-more">+ Xem thêm</a>
        </li>
        <li>
            <div class="fc-title">Tiện nghi</div><ul>
                <li class="">
                    <a href="/ha-noi/dia-diem-co-cho-mua-ve">
                        <label>Cho mua về</label>
                        <span>(17947)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-co-wifi">
                        <label>Có wifi</label>
                        <span>(15444)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-co-giu-xe-may-mien-phi">
                        <label>Giữ xe máy miễn phí</label>
                        <span>(37687)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-co-giao-hang">
                        <label>Có giao hàng</label>
                        <span>(4792)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-co-ban-ngoai-troi">
                        <label>Có bàn ngoài trời</label>
                        <span>(7712)</span>
                    </a>
                </li>
                <li class="">
                    <a href="/ha-noi/dia-diem-co-may-lanh">
                        <label>Có máy lạnh &amp; điều hòa</label>
                        <span>(14868)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-dat-ban-truoc">
                        <label>Nên đặt trước</label>
                        <span>(9084)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-cho-dau-oto">
                        <label>Có chỗ đậu ôtô</label>
                        <span>(4795)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-phong-rieng">
                        <label>Có phòng riêng</label>
                        <span>(3075)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-chieu-bong-da">
                        <label>Có chiếu bóng đá</label>
                        <span>(425)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-khu-vuc-hut-thuoc">
                        <label>Có khu vực hút thuốc</label>
                        <span>(1665)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-cho-choi-cho-tre-em">
                        <label>Có chỗ chơi cho trẻ em</label>
                        <span>(357)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-karaoke">
                        <label>Có karaoke</label>
                        <span>(682)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-xuat-hoa-don-do">
                        <label>Có xuất hóa đơn đỏ</label>
                        <span>(1589)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-tra-bang-the">
                        <label>Trả bằng thẻ</label>
                        <span>(2137)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-ho-tro-hoi-thao">
                        <label>Có hỗ trợ hội thảo</label>
                        <span>(430)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-nhac-song">
                        <label>Có nhạc sống</label>
                        <span>(304)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-tip-cho-nhan-vien">
                        <label>Tip cho nhân viên</label>
                        <span>(254)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-the-thanh-vien">
                        <label>Có thẻ thành viên</label>
                        <span>(844)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-ho-tro-nguoi-khuyet-tat">
                        <label>Có hỗ trợ người khuyết tật</label>
                        <span>(89)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-lo-suoi">
                        <label>Có lò sưởi</label>
                        <span>(108)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-ho-boi">
                        <label>Có hồ bơi</label>
                        <span>(111)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a href="/ha-noi/dia-diem-co-san-tennis">
                        <label>Sân Tennis</label>
                        <span>(69)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a>
                        <label>Ăn Sáng Miễn Phí</label>
                        <span>(4)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a>
                        <label>Spa &amp; Massage</label>
                        <span>(13)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a>
                        <label>Đồ Ăn Tận Phòng</label>
                        <span>(5)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a>
                        <label>Nhà Hàng</label>
                        <span>(41)</span>
                    </a>
                </li>
                <li class="fc-hide">
                    <a>
                        <label>Phòng Gym</label>
                        <span>(9)</span>
                    </a>
                </li>
            </ul>
            <a class="fc-more">+ Xem thêm</a>
        </li>
    </ul>
</div>