@model string
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="pn-box">
    <h1 class="title">Đăng ký thành công</h1>
    <p class="des">Đăng ký thành công, vui lòng kiểm tra email <b>@Model</b> để biết hướng dẫn kích hoạt tài khoản</p>
</div>