@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="reset-pass-page">
    <div class="reset-pass-page-box">
        <div class="resetbox">
            <form action="/quen-mat-khau" method="post" novalidate="novalidate" class="ng-pristine ng-valid"> 
                <h1 class="reset-password-header">Tạo lại mật khẩu</h1>
                <h3 class="reset-password-guide">Điền email đăng ký của bạn ở dưới, Foody sẽ gửi cho bạn mật khẩu mới</h3>
                <div class="">
                    <div class="reset-pass-title"><label for="Email">Email</label>:</div>
                    <div class="reset-pass-input">
                        <input class="email" data-val="true" data-val-email="Email không hợp lệ" data-val-required="Nhập vào email" id="Email" name="Email" type="text" value="">
                        <div class="error">
                            <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div> 
                    </div>
                    <div class="reset-pass-button">
                        <input type="submit" id="send-email" name="send-email" class="passwordrecoverybutton" value="Gửi lại mật khẩu">
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>