<?xml version="1.0"?>
<oauth2.login.configuration>

	<!--<web  acceptedRedirectUrl="~/AuthExternal/Success" failedRedirectUrl="~/AuthExternal/LoginFail" proxy="" />-->
	<oauth>
		<add name="Facebook"
			 clientid="786338091490944"
			 clientsecret="86049934efe63e74e133d6b077c9df70"
			 callbackUrl="http://ffoodyvn.com:8081/ExternalAccount/Callback/Facebook"
			 scope="public_profile,user_friends,email" />
	</oauth>
</oauth2.login.configuration>
