@model BreadcumbModel
@{
}
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">Danh sách địa điểm chưa được duyệt <small>Hiển thị danh sách các địa điểm chưa được duyệt bởi người quản trị website</small> </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/Home/Index">Trang chủ</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="/Location/Index">Danh sách các địa điểm chưa được duyệt</a>
            </li>
        </ul>
    </div>
</div>


