@{
    Layout = null;
}
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="main-home" controller="InviteEvent" action="Index" href="javascript:void(0);">BanHaiSan</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" id="lst-menu-items">
            <li>
                @*@Html.ActionLink("Địa điểm","Index","Location")*@
                <a controller="Location" action="Index" href="javascript:void(0);" >Địa điểm</a>
            </li>    
            <li><a href="/Account/LogOff">Thoát</a></li>
        </ul>
    </div>
</div>