
@{
    Layout = null;
}
<ul>
    <li>
        <div class="sidebar-toggler hidden-phone"></div>
    </li>
    <li>
        <form class="sidebar-search">
            <div class="input-box">
                <a href="javascript:;" class="remove"></a>
                <input type="text" placeholder="Search..." />
                <input type="button" class="submit" value=" " />
            </div>
        </form>
    </li>
    <li class="start active ">
        <a href="index.html">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="">
        <a href="javascript:;">
            <i class="icon-cogs"></i>
            <span class="title">Địa điểm</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="/Location/Index" >Địa điểm chưa duyệt</a> 
            </li>
        </ul>
    </li>
    <li class="">
        <a href="login.html">
            <i class="icon-user"></i>
            <span class="title">Login Page</span>
        </a>
    </li>
</ul>