<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"  />
        <title>Địa điểm ăn uống, ẩm thực, ăn gì ở đâu tại Hà Nội, nhà hàng, cafe | Ăn uống | Foody.vn</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/Main.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/fixed_layout.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/select_control.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/search_box.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/search_box.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/header_menu_select.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/header_app.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/banner.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/main_content.css" type="text/css" rel="stylesheet" />
    </head>
    <body ng-app="SeaFoodyApp" >
        <div class="header">
            <div class="wraper-img banner-header-top">
                <div class="wraper-bx">
                    <img class="bottom" src="~/Content/img/foody-1170-60-chacangulong-01-636268082601173100.jpg" width="1170" height="60" title="Chả cá Ngư Long" />
                    <img class="top" src="~/Content/img/foody-jack's deli 1170x60-636281206458926423.jpg" width="1170" height="60" title="Jacks Deli - Bakery & Restaurant - Royal City" />
                </div>
            </div>
            <div class="header-menu">
                <div class="topbar">
                    <a href="#" class="current">Khám phá</a>
                    <a href="#">Đặt bàn</a>
                    <a href="#">Đặt Giao Hàng</a>
                    <a href="#">Làm đẹp</a>
                    <a href="#">Du lịch</a>
                    <a href="#">FoodyPOS</a>
                    <a href="#">Giảm Giá</a>
                </div>
            </div>
            <div class="header-toolbar">
                <div class="header-toolbar-wraper">
                    <a href="#" class="logo"> <img src="~/Content/img/foody-vn.png" alt="Foody.vn" /> </a>
                    <div class="lst-select-control" id="lst-city" ng-controller="CityController">
                        <div class="show-selected-item" >
                            <a href="#" ng-click="show_lst_items($event);">
                                <span class="show-selected-item-label" >{{selectedItem}}</span>
                                <span class="show-selected-item-icon fa fa-sort-desc"></span>
                            </a>
                        </div>
                        <div ng-class="lstCssStyle">
                            <div class="arrow"></div>
                            <ul class="fl-panel">
                                <li>
                                    <div class="flp-title">
                                        <i class="fa fa-globe"></i>
                                        <span>Select city</span>
                                    </div>
                                    <ul class="flp-lst-items">
                                        <li>
                                            <label>Tìm tỉnh thành</label>
                                            <ul>
                                                <li>
                                                    <a data-id="217" href="/ho-chi-minh">
                                                        <label>TP. HCM</label>
                                                        <span>53.028</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-id="218" href="/ha-noi">
                                                        <label>Hà Nội</label>
                                                        <span>49.318</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-id="219" href="/da-nang">
                                                        <label>Đà Nẵng</label>
                                                        <span>15.168</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-id="221" href="/can-tho">
                                                        <label>Cần Thơ</label>
                                                        <span>5.451</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-id="248" href="/khanh-hoa">
                                                        <label>Khánh Hoà</label>
                                                        <span>4.731</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-id="223" href="/vung-tau">
                                                        <label>Vũng Tàu</label>
                                                        <span>2.967</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-id="220" href="/hai-phong">
                                                        <label>Hải Phòng</label>
                                                        <span>5.326</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-id="233" href="/binh-thuan">
                                                        <label>Bình Thuận</label>
                                                        <span>2.808</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-id="254" href="/lam-dong">
                                                        <label>Lâm Đồng</label>
                                                        <span>3.641</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-id="222" href="/dong-nai">
                                                        <label>Đồng Nai</label>
                                                        <span>6.180</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-id="265" href="/quang-ninh">
                                                        <label>Quảng Ninh</label>
                                                        <span>3.845</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-id="273" href="/hue">
                                                        <label>Huế</label>
                                                        <span>6.093</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-id="230" href="/binh-duong">
                                                        <label>Bình Dương</label>
                                                        <span>5.423</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-id="259" href="/ninh-thuan">
                                                        <label>Ninh Thuận</label>
                                                        <span>1.075</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-id="244" href="/hai-duong">
                                                        <label>Hải Dương</label>
                                                        <span>898</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="fl-summary">
                                <a href="/ha-noi/o-dau">
                                    <i class="fa fa-map-marker"></i>
                                    <span>216.9K</span>
                                </a>
                                <a href="/ha-noi/binh-luan">
                                    <i class="fa fa-comment"></i>
                                    <span>819.4K</span>
                                </a>
                                <a href="/ha-noi/hinh-anh">
                                    <i class="fa fa-camera"></i>
                                    <span>5.7M</span>
                                </a>
                                <a href="/ha-noi/bo-suu-tap">
                                    <i class="fa fa-bookmark"></i>
                                    <span>10.1M</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="lst-select-control" id="lst-cate" ng-controller="CategoryController">
                        <div class="show-selected-item" >
                            <a href="#" ng-click="show_lst_items($event);">
                                <span class="show-selected-item-label" >{{selectedItem}}</span>
                                <span class="show-selected-item-icon fa fa-sort-desc"></span>
                            </a>
                        </div>
                        <div ng-class="lstCssStyle">
                            <div class="arrow"></div>
                            <ul class="fl-panel">
                                <li>
                                    <div class="flp-title">
                                        <i class="fa fa-bars"></i>
                                        <span>Select category</span>
                                    </div>
                                </li>
                                <li data-id="1">
                                    <a id="gcat-1" rel="nofollow" href="/ha-noi">
                                        <span style="float:left;">Ăn uống</span> <span class="fa fa-angle-right" style="float: right; padding-top: 8px;"></span></a>
                                        <ul class="menu-box" id="nav-place-1" style="overflow:auto;max-height:300px;">
                                            <li>
                                                <a href="/ha-noi/food/sang-trong" title="Sang trọng">
                                                    <span class="rm-nav-icon">
                                                        <img src="https://media.foody.vn/caticon/s60x60/foody-12-sangtrong-635950388128057921.png" alt="" title="Sang trọng" width="15" height="15">
                                                    </span>
                                                    <span class="rn-nav-name">Sang trọng</span>
                                                    <span class="rn-nav-sum">80</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/ha-noi/food/buffet" title="Buffet">
                                                    <span class="rm-nav-icon">
                                                        <img src="https://media.foody.vn/caticon/s60x60/foody-39-buffet-635950383405966956.png" alt="" title="Buffet" width="15" height="15">
                                                    </span>
                                                    <span class="rn-nav-name">Buffet</span>
                                                    <span class="rn-nav-sum">82</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/ha-noi/food/nha-hang" title="Nhà hàng">
                                                    <span class="rm-nav-icon">
                                                        <img src="https://media.foody.vn/caticon/s60x60/foody-01-restoran-635950389575416940.png" alt="" title="Nhà hàng" width="15" height="15">
                                                    </span>
                                                    <span class="rn-nav-name">Nhà hàng</span>
                                                    <span class="rn-nav-sum">2,583</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/ha-noi/food/an-vat-via-he" title="Ăn vặt/vỉa hè">
                                                    <span class="rm-nav-icon">
                                                        <img src="https://media.foody.vn/caticon/s60x60/foody-11-anvat-635950388395266822.png" alt="" title="Ăn vặt/vỉa hè" width="15" height="15">
                                                    </span>
                                                    <span class="rn-nav-name">Ăn vặt/vỉa hè</span>
                                                    <span class="rn-nav-sum">3,131</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/ha-noi/food/an-chay" title="Ăn chay">
                                                    <span class="rm-nav-icon">
                                                        <img src="https://media.foody.vn/caticon/s60x60/foody-56-anchay-635950379675005450.png" alt="" title="Ăn chay" width="15" height="15">
                                                    </span>
                                                    <span class="rn-nav-name">Ăn chay</span>
                                                    <span class="rn-nav-sum">83</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/ha-noi/food/cafe" title="Café/Dessert">
                                                    <span class="rm-nav-icon">
                                                        <img src="https://media.foody.vn/caticon/s60x60/foody-02-kedai%20kopi-635950389484472462.png" alt="" title="Café/Dessert" width="15" height="15">
                                                    </span>
                                                    <span class="rn-nav-name">Café/Dessert</span>
                                                    <span class="rn-nav-sum">5,596</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/ha-noi/food/quan-an" title="Quán ăn">
                                                    <span class="rm-nav-icon">
                                                        <img src="https://media.foody.vn/caticon/s60x60/foody-03-rumah%20makan-635950389304770706.png" alt="" title="Quán ăn" width="15" height="15">
                                                    </span>
                                                    <span class="rn-nav-name">Quán ăn</span>
                                                    <span class="rn-nav-sum">9,379</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/ha-noi/food/bar-pub" title="Bar/Pub">
                                                    <span class="rm-nav-icon">
                                                        <img src="https://media.foody.vn/caticon/s60x60/foody-04-barpub-635950389189605062.png" alt="" title="Bar/Pub" width="15" height="15">
                                                    </span>
                                                    <span class="rn-nav-name">Bar/Pub</span>
                                                    <span class="rn-nav-sum">243</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/ha-noi/food/quan-nhau" title="Quán nhậu">
                                                    <span class="rm-nav-icon">
                                                        <img src="https://media.foody.vn/caticon/s60x60/foody-54-quannhau-635950379866739193.png" alt="" title="Quán nhậu" width="15" height="15">
                                                    </span>
                                                    <span class="rn-nav-name">Quán nhậu</span>
                                                    <span class="rn-nav-sum">1,073</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/ha-noi/food/beer-club" title="Beer club">
                                                    <span class="rm-nav-icon">
                                                        <img src="https://media.foody.vn/caticon/s60x60/foody-43-beerclub-635950382429048603.png" alt="" title="Beer club" width="15" height="15">
                                                    </span>
                                                    <span class="rn-nav-name">Beer club</span>
                                                    <span class="rn-nav-sum">78</span>
                                                </a>
                                            </li>
                                            <li>
                                            <a href="/ha-noi/food/tiem-banh" title="Tiệm bánh">
                                            <span class="rm-nav-icon">
                                            <img src="https://media.foody.vn/caticon/s60x60/foody-06-tiembanh-635950389009259871.png" alt="" title="Tiệm bánh" width="15" height="15">
                                            </span>
                                            <span class="rn-nav-name">Tiệm bánh</span>
                                            <span class="rn-nav-sum">754</span>
                                            </a>
                                            </li>
                                            <li>
                                            <a href="/ha-noi/food/tiec-tan-noi" title="Tiệc tận nơi">
                                            <span class="rm-nav-icon">
                                            <img src="https://media.foody.vn/caticon/s60x60/foody-44-tiectannoi-635950382223863942.png" alt="" title="Tiệc tận nơi" width="15" height="15">
                                            </span>
                                            <span class="rn-nav-name">Tiệc tận nơi</span>
                                            <span class="rn-nav-sum">9</span>
                                            </a>
                                            </li>
                                            <li>
                                            <a href="/ha-noi/food/shop-online" title="Shop Online">
                                            <span class="rm-nav-icon">
                                            <img src="https://media.foody.vn/caticon/s60x60/foody-27-shoponline-635950385288337691.png" alt="" title="Shop Online" width="15" height="15">
                                            </span>
                                            <span class="rn-nav-name">Shop Online</span>
                                            <span class="rn-nav-sum">965</span>
                                            </a>
                                            </li>
                                            <li>
                                            <a href="/ha-noi/food/giao-com-van-phong" title="Giao cơm văn phòng">
                                            <span class="rm-nav-icon">
                                            <img src="https://media.foody.vn/caticon/s60x60/foody-28-comvanphong-635950385047534150.png" alt="" title="Giao cơm văn phòng" width="15" height="15">
                                            </span>
                                            <span class="rn-nav-name">Giao cơm văn phòng</span>
                                            <span class="rn-nav-sum">53</span>
                                            </a>
                                            </li>
                                            <li>
                                            <a href="/ha-noi/food/Foodcourt" title="Khu Ẩm Thực">
                                            <span class="rm-nav-icon">
                                            <img src="https://media.foody.vn/caticon/s60x60/foody-64x64_pic-category-khuamthuc-636266402889811778.png" alt="" title="Khu Ẩm Thực" width="15" height="15">
                                            </span>
                                            <span class="rn-nav-name">Khu Ẩm Thực</span>
                                            <span class="rn-nav-sum">18</span>
                                            </a>
                                            </li>
                                            </ul>
                                            </li>
@*<li data-id="5">
<a id="gcat-5" rel="nofollow" href="/ha-noi/travel">
<span style="float:left;">Du lịch</span> <span class="fa fa-angle-right" style="float: right; padding-top: 8px;"></span></a>
<ul class="menu-box" id="nav-place-5" style="overflow:auto;max-height:300px;">
<li>
<a href="/ha-noi/travel/khu-du-lich" title="Thăm quan &amp; chụp ảnh">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-07-thamquan-chupanh-635950388895014623.png" alt="" title="Thăm quan &amp; chụp ảnh" width="15" height="15">
</span>
<span class="rn-nav-name">Thăm quan &amp; chụp ảnh</span>
<span class="rn-nav-sum">47</span>
</a>
</li>
<li>
<a href="/ha-noi/travel/khach-san" title="Khách sạn">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-15-hotel-635950387834106011.png" alt="" title="Khách sạn" width="15" height="15">
</span>
<span class="rn-nav-name">Khách sạn</span>
<span class="rn-nav-sum">903</span>
</a>
</li>
<li>
<a href="/ha-noi/travel/khu-nghi-duong" title="Khu nghỉ dưỡng">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-65-khunghiduong-635950376838865384.png" alt="" title="Khu nghỉ dưỡng" width="15" height="15">
</span>
<span class="rn-nav-name">Khu nghỉ dưỡng</span>
<span class="rn-nav-sum">17</span>
</a>
</li>
<li>
<a href="/ha-noi/travel/du-lich-sinh-thai" title="Du lịch sinh thái">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-66-dulichsinhthai-635950376615043180.png" alt="" title="Du lịch sinh thái" width="15" height="15">
</span>
<span class="rn-nav-name">Du lịch sinh thái</span>
<span class="rn-nav-sum">34</span>
</a>
</li>
<li>
<a href="/ha-noi/travel/tau-du-lich" title="Tàu du lịch">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-63-taudulich-635950377804308260.png" alt="" title="Tàu du lịch" width="15" height="15">
</span>
<span class="rn-nav-name">Tàu du lịch</span>
<span class="rn-nav-sum">1</span>
</a>
</li>
<li>
<a href="/ha-noi/travel/cong-vien-vui-choi" title="Công viên vui chơi">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-24-congvien-635950385529148153.png" alt="" title="Công viên vui chơi" width="15" height="15">
</span>
<span class="rn-nav-name">Công viên vui chơi</span>
<span class="rn-nav-sum">21</span>
</a>
</li>
<li>
<a href="/ha-noi/travel/bao-tang-di-tich" title="Bảo tàng &amp; Di tích">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-64-baotangditich-635950377524671118.png" alt="" title="Bảo tàng &amp; Di tích" width="15" height="15">
</span>
<span class="rn-nav-name">Bảo tàng &amp; Di tích</span>
<span class="rn-nav-sum">18</span>
</a>
</li>
<li>
<a href="/ha-noi/travel/dia-danh" title="Chùa &amp; Nhà thờ">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-16-chua-nhatho-635950387741235726.png" alt="" title="Chùa &amp; Nhà thờ" width="15" height="15">
</span>
<span class="rn-nav-name">Chùa &amp; Nhà thờ</span>
<span class="rn-nav-sum">23</span>
</a>
</li>
<li>
<a href="/ha-noi/travel/phong-ve-may-bay" title="Phòng Vé Máy Bay">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-40-phongve-635950383155268025.png" alt="" title="Phòng Vé Máy Bay" width="15" height="15">
</span>
<span class="rn-nav-name">Phòng Vé Máy Bay</span>
<span class="rn-nav-sum">280</span>
</a>
</li>
<li>
<a href="/ha-noi/travel/phuong-tien-xe-co" title="Phương Tiện - Xe Cộ">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-74-chothuexe-635950374102972460.png" alt="" title="Phương Tiện - Xe Cộ" width="15" height="15">
</span>
<span class="rn-nav-name">Phương Tiện - Xe Cộ</span>
<span class="rn-nav-sum">353</span>
</a>
</li>
<li>
<a href="/ha-noi/travel/home-stay" title="Homestay">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-64x64_pic-category-homestay-636153444612639673.png" alt="" title="Homestay" width="15" height="15">
</span>
<span class="rn-nav-name">Homestay</span>
<span class="rn-nav-sum">33</span>
</a>
</li>
<li>
<a href="/ha-noi/travel/can-ho" title="Căn hộ">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-64x64_pic-category-motel-636266401728242215.png" alt="" title="Căn hộ" width="15" height="15">
</span>
<span class="rn-nav-name">Căn hộ</span>
<span class="rn-nav-sum">33</span>
</a>
</li>
<li>
<a href="/ha-noi/travel/nha-nghi" title="Nhà nghỉ">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-64x64_pic-category-motel-636153444231017395.png" alt="" title="Nhà nghỉ" width="15" height="15">
</span>
<span class="rn-nav-name">Nhà nghỉ</span>
<span class="rn-nav-sum">34</span>
</a>
</li>
<li>
<a href="/ha-noi/travel/hang-du-lich" title="Hãng Du Lịch">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-64x64_pic-category-hangdulich-636266398440435253.png" alt="" title="Hãng Du Lịch" width="15" height="15">
</span>
<span class="rn-nav-name">Hãng Du Lịch</span>
<span class="rn-nav-sum">18</span>
</a>
</li>
<li>
<a href="http://www.tripnow.vn" title="Tour">
<span style="float: left; margin-right: 5px;"><img src="//static.foody.vn/s2/style/images/icons/icon_tour.png" alt="" title="Tour" width="15" height="15"></span>
<span style="float:left;font-size:12px;">Tour</span>
</a>
</li></ul>
</li>
<li data-id="8">
<a id="gcat-8" rel="nofollow" href="/ha-noi/wedding">
<span style="float:left;">Cưới hỏi</span> <span class="fa fa-angle-right" style="float: right; padding-top: 8px;"></span></a>
<ul class="menu-box" id="nav-place-8" style="overflow:auto;max-height:300px;">
<li>
<a href="/ha-noi/wedding/tiec-cuoi-hoi-nghi" title="Tiệc cưới/Hội nghị">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-09-tieccuoi-635950388581862581.png" alt="" title="Tiệc cưới/Hội nghị" width="15" height="15">
</span>
<span class="rn-nav-name">Tiệc cưới/Hội nghị</span>
<span class="rn-nav-sum">138</span>
</a>
</li>
<li>
<a href="/ha-noi/wedding/chup-hinh-cuoi" title="Chụp hình cưới">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-32-chuphinhcuoi-635950384545261633.png" alt="" title="Chụp hình cưới" width="15" height="15">
</span>
<span class="rn-nav-name">Chụp hình cưới</span>
<span class="rn-nav-sum">370</span>
</a>
</li>
<li>
<a href="/ha-noi/wedding/trang-diem" title="Trang điểm">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-33-trangdiem-635950384461192466.png" alt="" title="Trang điểm" width="15" height="15">
</span>
<span class="rn-nav-name">Trang điểm</span>
<span class="rn-nav-sum">98</span>
</a>
</li>
<li>
<a href="/ha-noi/wedding/ao-cuoi" title="Áo cưới">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-34-aocuoi-635950384392124277.png" alt="" title="Áo cưới" width="15" height="15">
</span>
<span class="rn-nav-name">Áo cưới</span>
<span class="rn-nav-sum">178</span>
</a>
</li>
<li>
<a href="/ha-noi/wedding/hoa-cuoi" title="Hoa cưới - Shop hoa">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-35-hoacuoishophoa-635950384157730877.png" alt="" title="Hoa cưới - Shop hoa" width="15" height="15">
</span>
<span class="rn-nav-name">Hoa cưới - Shop hoa</span>
<span class="rn-nav-sum">265</span>
</a>
</li>
<li>
<a href="/ha-noi/wedding/tiec-tai-gia" title="Tiệc tại gia">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-36-tiectaigia-635950384066942444.png" alt="" title="Tiệc tại gia" width="15" height="15">
</span>
<span class="rn-nav-name">Tiệc tại gia</span>
<span class="rn-nav-sum">26</span>
</a>
</li>
</ul>
</li>
<li data-id="3">
<a id="gcat-3" rel="nofollow" href="/ha-noi/beauty">
<span style="float:left;">Đẹp khỏe</span> <span class="fa fa-angle-right" style="float: right; padding-top: 8px;"></span></a>
<ul class="menu-box" id="nav-place-3" style="overflow:auto;max-height:300px;">
<li>
<a href="/ha-noi/beauty/spa-massage" title="Spa/Massage">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-14-spa-635950387913487285.png" alt="" title="Spa/Massage" width="15" height="15">
</span>
<span class="rn-nav-name">Spa/Massage</span>
<span class="rn-nav-sum">894</span>
</a>
</li>
<li>
<a href="/ha-noi/beauty/lam-toc" title="Làm tóc/Gội đầu/Nối mi">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-17-lamtoc-635950387423282881.png" alt="" title="Làm tóc/Gội đầu/Nối mi" width="15" height="15">
</span>
<span class="rn-nav-name">Làm tóc/Gội đầu/Nối mi</span>
<span class="rn-nav-sum">6,213</span>
</a>
</li>
<li>
<a href="/ha-noi/beauty/the-duc-tham-my" title="Thể dục thẩm mỹ">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-18-theducthammy-635950387352615647.png" alt="" title="Thể dục thẩm mỹ" width="15" height="15">
</span>
<span class="rn-nav-name">Thể dục thẩm mỹ</span>
<span class="rn-nav-sum">223</span>
</a>
</li>
<li>
<a href="/ha-noi/beauty/tiem-nail" title="Tiệm nail">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-22-nail-635950386512281640.png" alt="" title="Tiệm nail" width="15" height="15">
</span>
<span class="rn-nav-name">Tiệm nail</span>
<span class="rn-nav-sum">1,265</span>
</a>
</li>
<li>
<a href="/ha-noi/beauty/cham-soc-da" title="Chăm sóc da">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-42-chamsocda-635950382667390192.png" alt="" title="Chăm sóc da" width="15" height="15">
</span>
<span class="rn-nav-name">Chăm sóc da</span>
<span class="rn-nav-sum">321</span>
</a>
</li>
<li>
<a href="/ha-noi/beauty/shop-hoa-my-pham" title="Shop hóa mỹ phẩm">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-41-shophoamypham-635950382914753584.png" alt="" title="Shop hóa mỹ phẩm" width="15" height="15">
</span>
<span class="rn-nav-name">Shop hóa mỹ phẩm</span>
<span class="rn-nav-sum">689</span>
</a>
</li>
<li>
<a href="/ha-noi/beauty/ho-boi-san-van-dong" title="Thể dục thể thao">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-26-thethao-635950385371313021.png" alt="" title="Thể dục thể thao" width="15" height="15">
</span>
<span class="rn-nav-name">Thể dục thể thao</span>
<span class="rn-nav-sum">248</span>
</a>
</li>
<li>
<a href="/ha-noi/beauty/tham-my-vien" title="Thẩm mỹ viện">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-29-thammyvien-635950384961399997.png" alt="" title="Thẩm mỹ viện" width="15" height="15">
</span>
<span class="rn-nav-name">Thẩm mỹ viện</span>
<span class="rn-nav-sum">228</span>
</a>
</li>
<li>
<a href="/ha-noi/beauty/xam-hinh" title="Xăm hình">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-37-xamhinh-635950383800275210.png" alt="" title="Xăm hình" width="15" height="15">
</span>
<span class="rn-nav-name">Xăm hình</span>
<span class="rn-nav-sum">81</span>
</a>
</li>
<li>
<a href="/ha-noi/beauty/phong-kham" title="Phòng khám">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-19-phongkham-635950387170101399.png" alt="" title="Phòng khám" width="15" height="15">
</span>
<span class="rn-nav-name">Phòng khám</span>
<span class="rn-nav-sum">1,030</span>
</a>
</li>
<li>
<a href="/ha-noi/beauty/nha-khoa" title="Nha khoa">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-20-nhakhoa-635950387056896996.png" alt="" title="Nha khoa" width="15" height="15">
</span>
<span class="rn-nav-name">Nha khoa</span>
<span class="rn-nav-sum">581</span>
</a>
</li>
<li>
<a href="/ha-noi/beauty/nha-thuoc" title="Nhà thuốc">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-21-nhathuoc-635950386819507684.png" alt="" title="Nhà thuốc" width="15" height="15">
</span>
<span class="rn-nav-name">Nhà thuốc</span>
<span class="rn-nav-sum">2,973</span>
</a>
</li>
<li>
<a href="/ha-noi/beauty/benh-vien" title="Bệnh viện">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-38-benhvien-635950383615375720.png" alt="" title="Bệnh viện" width="15" height="15">
</span>
<span class="rn-nav-name">Bệnh viện</span>
<span class="rn-nav-sum">102</span>
</a>
</li>
</ul>
</li>
<li data-id="2">
<a id="gcat-2" rel="nofollow" href="/ha-noi/entertain">
<span style="float:left;">Giải trí</span> <span class="fa fa-angle-right" style="float: right; padding-top: 8px;"></span></a>
<ul class="menu-box" id="nav-place-2" style="overflow:auto;max-height:300px;">
<li>
<a href="/ha-noi/entertain/karaoke" title="Karaoke">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-05-karaoke-635950389100691799.png" alt="" title="Karaoke" width="15" height="15">
</span>
<span class="rn-nav-name">Karaoke</span>
<span class="rn-nav-sum">642</span>
</a>
</li>
<li>
<a href="/ha-noi/entertain/billiards" title="Billiards">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-08-billiards-635950388676872317.png" alt="" title="Billiards" width="15" height="15">
</span>
<span class="rn-nav-name">Billiards</span>
<span class="rn-nav-sum">105</span>
</a>
</li>
<li>
<a href="/ha-noi/entertain/giai-tri" title="Rạp chiếu phim">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-13-rapchieuphim-635950388007088445.png" alt="" title="Rạp chiếu phim" width="15" height="15">
</span>
<span class="rn-nav-name">Rạp chiếu phim</span>
<span class="rn-nav-sum">31</span>
</a>
</li>
<li>
<a href="/ha-noi/entertain/san-khau" title="Sân khấu">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-23-sankhau-635950386677619312.png" alt="" title="Sân khấu" width="15" height="15">
</span>
<span class="rn-nav-name">Sân khấu</span>
<span class="rn-nav-sum">11</span>
</a>
</li>
<li>
<a href="/ha-noi/entertain/khu-choi-game" title="Khu chơi Game">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-25-khuchoigame-635950385452882037.png" alt="" title="Khu chơi Game" width="15" height="15">
</span><span class="rn-nav-name">Khu chơi Game</span>
<span class="rn-nav-sum">50</span>
</a>
</li>
<li>
<a href="/phim-anh" title="Phim">
<span style="float: left; margin-right: 5px;"><img src="//static.foody.vn/s2/style/images/icons/icon_movie.png" alt="" title="Phim" width="15" height="15"></span>
<span style="float:left;font-size:12px;">Phim</span>
</a>
</li></ul>
</li>
<li data-id="6">
<a id="gcat-6" rel="nofollow" href="/ha-noi/shop">
<span style="float:left;">Mua sắm</span> <span class="fa fa-angle-right" style="float: right; padding-top: 8px;"></span></a>
<ul class="menu-box" id="nav-place-6" style="overflow:auto;max-height:300px;">
<li>
<a href="/ha-noi/shop/cua-hang" title="Shop/Cửa hàng">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-10-shop-cuahang-635950388494338860.png" alt="" title="Shop/Cửa hàng" width="15" height="15">
</span>
<span class="rn-nav-name">Shop/Cửa hàng</span>
<span class="rn-nav-sum">1,619</span>
</a>
</li>
<li>
<a href="/ha-noi/shop/sieu-thi" title="Siêu thị">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-30-sieuthi-635950384873882766.png" alt="" title="Siêu thị" width="15" height="15">
</span>
<span class="rn-nav-name">Siêu thị</span>
<span class="rn-nav-sum">114</span>
</a>
</li>
<li>
<a href="/ha-noi/shop/trung-tam-thuong-mai" title="Trung tâm thương mại">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-31-trungtamthuongmai-635950384787156908.png" alt="" title="Trung tâm thương mại" width="15" height="15">
</span>
<span class="rn-nav-name">Trung tâm thương mại</span>
<span class="rn-nav-sum">23</span>
</a>
</li>
<li>
<a href="/ha-noi/shop/cho" title="Chợ">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-67-cho-635950376306335306.png" alt="" title="Chợ" width="15" height="15">
</span>
<span class="rn-nav-name">Chợ</span>
<span class="rn-nav-sum">23</span>
</a>
</li>
<li>
<a href="/ha-noi/shop/online-shopping" title="Mua sắm Online">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-70-muasamonline-635950375409273606.png" alt="" title="Mua sắm Online" width="15" height="15">
</span>
<span class="rn-nav-name">Mua sắm Online</span>
<span class="rn-nav-sum">16</span>
</a>
</li>
</ul>
</li>
<li data-id="7">
<a id="gcat-7" rel="nofollow" href="/ha-noi/edu">
<span style="float:left;">Giáo dục</span> <span class="fa fa-angle-right" style="float: right; padding-top: 8px;"></span></a>
<ul class="menu-box" id="nav-place-7" style="overflow:auto;max-height:300px;">
<li>
<a href="/ha-noi/edu/dai-hoc-cao-dang" title="Đại Học &amp; Cao Đẳng">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-46-daihoccaodang-635950382033380029.png" alt="" title="Đại Học &amp; Cao Đẳng" width="15" height="15">
</span>
<span class="rn-nav-name">Đại Học &amp; Cao Đẳng</span>
<span class="rn-nav-sum">116</span>
</a>
</li>
<li>
<a href="/ha-noi/edu/trung-tam-giao-duc" title="Trung tâm giáo dục">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-47-trungtamgiaoduc-635950381785837557.png" alt="" title="Trung tâm giáo dục" width="15" height="15">
</span>
<span class="rn-nav-name">Trung tâm giáo dục</span>
<span class="rn-nav-sum">85</span>
</a>
</li>
<li>
<a href="/ha-noi/edu/trung-tam-ngoai-ngu" title="Trung tâm ngoại ngữ">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-48-trungtamngoaingu-635950381519055387.png" alt="" title="Trung tâm ngoại ngữ" width="15" height="15">
</span>
<span class="rn-nav-name">Trung tâm ngoại ngữ</span>
<span class="rn-nav-sum">238</span>
</a>
</li>
<li>
<a href="/ha-noi/edu/nha-sach-thu-vien" title="Nhà sách &amp; Thư viện">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-49-nhasachthuvien-635950381249407562.png" alt="" title="Nhà sách &amp; Thư viện" width="15" height="15">
</span>
<span class="rn-nav-name">Nhà sách &amp; Thư viện</span>
<span class="rn-nav-sum">145</span>
</a>
</li>
<li>
<a href="/ha-noi/edu/nha-tre-mau-giao" title="Nhà trẻ &amp; Mẫu giáo">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-50-nhatremaugiao-635950380929181753.png" alt="" title="Nhà trẻ &amp; Mẫu giáo" width="15" height="15">
</span>
<span class="rn-nav-name">Nhà trẻ &amp; Mẫu giáo</span>
<span class="rn-nav-sum">1,443</span>
</a>
</li>
<li>
<a href="/ha-noi/edu/trung-hoc-pho-thong" title="Trung học &amp; Phổ Thông">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-51-trunghocphothong-635950380674111984.png" alt="" title="Trung học &amp; Phổ Thông" width="15" height="15">
</span>
<span class="rn-nav-name">Trung học &amp; Phổ Thông</span>
<span class="rn-nav-sum">426</span>
</a>
</li>
<li>
<a href="/ha-noi/edu/truong-day-nghe" title="Trường dạy nghề">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-52-truongdaynghe-635950380352834079.png" alt="" title="Trường dạy nghề" width="15" height="15">
</span>
<span class="rn-nav-name">Trường dạy nghề</span>
<span class="rn-nav-sum">24</span>
</a>
</li>
</ul>
</li>
<li data-id="9">
<a id="gcat-9" rel="nofollow" href="/ha-noi/service">
<span style="float:left;">Dịch vụ</span> <span class="fa fa-angle-right" style="float: right; padding-top: 8px;"></span></a>
<ul class="menu-box" id="nav-place-9" style="overflow:auto;max-height:300px;">
<li>
<a href="/ha-noi/service/bank-atm" title="Bank - ATM">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-57-bankatm-635950379479181881.png" alt="" title="Bank - ATM" width="15" height="15">
</span>
<span class="rn-nav-name">Bank - ATM</span>
<span class="rn-nav-sum">1,689</span>
</a>
</li>
<li>
<a href="/ha-noi/service/tram-xang" title="Trạm xăng">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-58-tramxang-635950379167125646.png" alt="" title="Trạm xăng" width="15" height="15">
</span>
<span class="rn-nav-name">Trạm xăng</span>
<span class="rn-nav-sum">68</span>
</a>
</li>
<li>
<a href="/ha-noi/service/vien-thong" title="Viễn thông">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-59-vienthong-635950378909277774.png" alt="" title="Viễn thông" width="15" height="15">
</span>
<span class="rn-nav-name">Viễn thông</span>
<span class="rn-nav-sum">192</span>
</a>
</li>
<li>
<a href="/ha-noi/service/van-tai" title="Vận tải">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-60-vantai-635950378631646977.png" alt="" title="Vận tải" width="15" height="15">
</span>
<span class="rn-nav-name">Vận tải</span>
<span class="rn-nav-sum">1,158</span>
</a>
</li>
<li>
<a href="/ha-noi/service/giat-ui" title="Giặt ủi">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-61-giatui-635950378331859453.png" alt="" title="Giặt ủi" width="15" height="15">
</span>
<span class="rn-nav-name">Giặt ủi</span>
<span class="rn-nav-sum">400</span>
</a>
</li>
<li>
<a href="/ha-noi/service/vat-nuoi" title="Vật nuôi">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-62-vatnuoi-635950378037929623.png" alt="" title="Vật nuôi" width="15" height="15">
</span>
<span class="rn-nav-name">Vật nuôi</span>
<span class="rn-nav-sum">11</span>
</a>
</li>
<li>
<a href="/ha-noi/service/tru-so-ban-nganh" title="Trụ Sở Ban Ngành">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-68-trusobannganh-635950375670400330.png" alt="" title="Trụ Sở Ban Ngành" width="15" height="15">
</span>
<span class="rn-nav-name">Trụ Sở Ban Ngành</span>
<span class="rn-nav-sum">45</span>
</a>
</li>
<li>
<a href="/ha-noi/service/tru-so-ban-nganh" title="Trụ Sở Ban Ngành">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/default/s60x60/no-image.png" alt="" title="Trụ Sở Ban Ngành" width="15" height="15">
</span>
<span class="rn-nav-name">Trụ Sở Ban Ngành</span>
<span class="rn-nav-sum">0</span>
</a>
</li>
<li>
<a href="/ha-noi/service/dich-vu-ve-sinh" title="Dịch Vụ Vệ Sinh">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-71-dichvuvesinh-635950375043882237.png" alt="" title="Dịch Vụ Vệ Sinh" width="15" height="15">
</span>
<span class="rn-nav-name">Dịch Vụ Vệ Sinh</span>
<span class="rn-nav-sum">1</span>
</a>
</li>
<li>
<a href="/ha-noi/service/dich-vu-sua-chua-nha-cua" title="Dịch Vụ Sửa Chữa Nhà Cửa">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-72-dichvusuachuanhacua-635950374838449985.png" alt="" title="Dịch Vụ Sửa Chữa Nhà Cửa" width="15" height="15">
</span>
<span class="rn-nav-name">Dịch Vụ Sửa Chữa Nhà Cửa</span>
<span class="rn-nav-sum">1</span>
</a>
</li>
<li>
<a href="/ha-noi/service/dich-vu-van-chuyen-do-dac" title="Dịch Vụ Vận Chuyển Đồ Đạc ">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/caticon/s60x60/foody-73-dichvuvanchuyendodac-635950374564104181.png" alt="" title="Dịch Vụ Vận Chuyển Đồ Đạc " width="15" height="15">
</span>
<span class="rn-nav-name">Dịch Vụ Vận Chuyển Đồ Đạc </span>
<span class="rn-nav-sum">1</span>
</a>
</li>
<li>
<a href="/ha-noi/service/cua-hang-phu-kien" title="Cửa Hàng - Phụ Kiện">
<span class="rm-nav-icon">
<img src="https://media.foody.vn/default/s60x60/no-image.png" alt="" title="Cửa Hàng - Phụ Kiện" width="15" height="15">
</span>
<span class="rn-nav-name">Cửa Hàng - Phụ Kiện</span>
<span class="rn-nav-sum">0</span>
</a>
</li>
</ul>
</li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="search-bar-top">
                        <div style="float: left;position: relative;border: 1px solid #eee;border-right:none; width: 415px;box-sizing: border-box;">
                            <input type="text" id="txtTextSearch" placeholder="Địa điểm, món ăn, loại hình..." style="vertical-align: middle;" />
                            <a href="javascript:void(0)" class="ico-nofilter" style="padding: 6px 10px 0 0;">
                                <div class="fa fa-sliders"></div>
                                Bộ lọc
                            </a>
                            <div class="suggestion-box" style="display: none;"><!-- res ads --><div style="padding: 5px 10px; font-size: 11px; color: #aaa; background: #FCFCFC; border-bottom: #eee 1px solid; border-top: #eee 1px solid;">Gợi ý tìm kiếm</div>
                              <ul>
                                <li class="advertising" data-name="KOMBO - Cơm Niêu Singapore - Phạm Ngọc Thạch">
                                    <a href="https://www.foody.vn/ha-noi/kombo-com-nieu-singapore-pham-ngoc-thach" onclick="ga('ads.send', 'event', 'Suggestion Box', 'Click', 'KOMBO - Cơm Niêu Singapore - Phạm Ngọc Thạch');" target="_blank" class="suggestion-box-item" title="KOMBO - Cơm Niêu Singapore - Phạm Ngọc Thạch">
                                        <div class="suggestion-box-item-left">
                                            <img src="https://media.foody.vn/res/g66/658726/prof/s128x80/foody-mobile-2-jpg-766-636302024500109813.jpg" alt="KOMBO - Cơm Niêu Singapore - Phạm Ngọc Thạch" title="KOMBO - Cơm Niêu Singapore - Phạm Ngọc Thạch">
                                        </div>
                                        <div class="suggestion-box-item-right">
                                        <div class="suggestion-box-item-right-res-name">KOMBO - Cơm Niêu Singapore - Phạm Ngọc Thạch</div>
                                        <div class="suggestion-box-item-right-res-descr" style="white-space: normal;">Mua 1 tặng 1 ngày 31/5 &amp; bao nhiêu tuổi giảm bấy nhiêu % ngày 4/6
                                        </div>
                                        </div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                                <li class="advertising" data-name="Món Ngon Sài Thành">
                                <a href="https://www.foody.vn/ha-noi/mon-ngon-sai-thanh" onclick="ga('ads.send', 'event', 'Suggestion Box', 'Click', 'Món Ngon Sài Thành');" target="_blank" class="suggestion-box-item" title="Món Ngon Sài Thành">
                                <div class="suggestion-box-item-left">
                                <img src="https://media.foody.vn/res/g64/638578/prof/s128x80/foody-mobile-mon-ngon-st-jpg-471-636295055500665212.jpg" alt="Món Ngon Sài Thành" title="Món Ngon Sài Thành">
                                </div>
                                <div class="suggestion-box-item-right">
                                <div class="suggestion-box-item-right-res-name">Món Ngon Sài Thành</div>
                                <div class="suggestion-box-item-right-res-descr" style="white-space: normal;">Nhà hàng chuyên món ăn Sài Gòn
                                </div>
                                </div>
                                <div class="clear"></div>
                                </a>
                                </li>
                                <li class="advertising" data-name="panorama Restaurant &amp; Skybar - Authentic Hotel">
                                <a href="https://www.foody.vn/ha-noi/panorama-restaurant-skybar-authentic-hotel" onclick="ga('ads.send', 'event', 'Suggestion Box', 'Click', 'panorama Restaurant &amp; Skybar - Authentic Hotel');" target="_blank" class="suggestion-box-item" title="Panorama Restaurant &amp; Skybar - Authentic Hotel">
                                <div class="suggestion-box-item-left">
                                <img src="https://media.foody.vn/res/g65/643114/prof/s128x80/foody-mobile-pano5-jpg-355-636250251547105350.jpg" alt="Panorama Restaurant &amp; Skybar - Authentic Hotel" title="Panorama Restaurant &amp; Skybar - Authentic Hotel">
                                </div>
                                <div class="suggestion-box-item-right">
                                <div class="suggestion-box-item-right-res-name">Panorama Restaurant &amp; Skybar - Authentic Hotel</div>
                                <div class="suggestion-box-item-right-res-descr" style="white-space: normal;">Đồ ăn chất, view đẹp.
                                </div>
                                </div>
                                <div class="clear"></div>
                                </a>
                                </li>
                                <li class="advertising" data-name="Sừng Quăn - Lẩu Dê Tứ Xuyên">
                                <a href="https://www.foody.vn/ha-noi/sung-quan-lau-de-tu-xuyen" onclick="ga('ads.send', 'event', 'Suggestion Box', 'Click', 'Sừng Quăn - Lẩu Dê Tứ Xuyên');" target="_blank" class="suggestion-box-item" title="Sừng Quăn - Lẩu Dê Tứ Xuyên">
                                <div class="suggestion-box-item-left">
                                <img src="https://media.foody.vn/res/g30/298008/prof/s128x80/foody-mobile--f084c8c9395049c84bb-348-636247602593323087.jpg" alt="Sừng Quăn - Lẩu Dê Tứ Xuyên" title="Sừng Quăn - Lẩu Dê Tứ Xuyên">
                                </div>
                                <div class="suggestion-box-item-right">
                                <div class="suggestion-box-item-right-res-name">Sừng Quăn - Lẩu Dê Tứ Xuyên</div>
                                <div class="suggestion-box-item-right-res-descr" style="white-space: normal;">Đặt bàn qua TableNow&nbsp;tặng mã deliveryNow 100k
                                </div>
                                </div>
                                <div class="clear"></div>
                                </a>
                                </li>
                                <li class="advertising" data-name="Lòng &quot;Chát&quot; - Bát Đàn">
                                <a href="https://www.foody.vn/ha-noi/long-chat-" onclick="ga('ads.send', 'event', 'Suggestion Box', 'Click', 'Lòng &quot;Chát&quot; - Bát Đàn');" target="_blank" class="suggestion-box-item" title="Lòng &quot;Chát&quot; - Bát Đàn">
                                <div class="suggestion-box-item-left">
                                <img src="https://media.foody.vn/res/g65/646976/prof/s128x80/foody-mobile-long-ch2-jpg-184-636262231174024399.jpg" alt="Lòng &quot;Chát&quot; - Bát Đàn" title="Lòng &quot;Chát&quot; - Bát Đàn">
                                </div>
                                <div class="suggestion-box-item-right">
                                <div class="suggestion-box-item-right-res-name">Lòng "Chát" - Bát Đàn</div>
                                <div class="suggestion-box-item-right-res-descr" style="white-space: normal;">Đệ nhất lòng sạch
                                </div>
                                </div>
                                <div class="clear"></div>
                                </a>
                                </li></ul><!-- banner -->
                                <div style="padding: 5px 10px;font-size: 11px; color: #aaa;background: #FCFCFC;border-bottom: #eee 1px solid;">Từ khoá đã tìm</div><ul class="sb-list-items">
                                <!-- normal -->
                                </ul>
                            </div>
                        </div>
                        <a class="ico-search" >
                            <span class="fa fa-search"></span>
                        </a>
                    </div>
                    <div class="header-menu-select">
                        <ul class="nav-place-menu">
                            <li>
                                <a href="javascript:void(0)"><span class="fa fa-bars"></span></a>
                                <div class="menu-frame" style="display: none;">
                                    <div class="arrow"></div>
                                    <ul class="menu-box" style="display: block">
                                        <li>
                                            <a href="/ha-noi/o-dau" title="Ở đâu">
                                                <span>Ở đâu</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ha-noi#/booking" title="Đặt bàn">
                                                <span>Đặt bàn</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ha-noi#/delivery" title="Giao hàng">
                                                <span>Giao hàng</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ha-noi/hinh-anh" title="Ăn gì">
                                                <span>Ăn gì</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ha-noi/bo-suu-tap" title="Sưu tập">
                                                <span>Sưu tập</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ha-noi/video" title="TV">
                                                <span>TV</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ha-noi/coupon" title="Coupons">
                                                <span>Coupons</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ha-noi/binh-luan" title="Bình luận">
                                                <span>Bình luận</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ha-noi/food/bai-viet" title="Blogs">
                                                <span>Blogs</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ha-noi/khuyen-mai" title="Khuyến mãi">
                                                <span>Khuyến mãi</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ha-noi/bank-card" title="Bank-Card">
                                                <span>Bank-Card</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ha-noi/su-kien" title="Miễn phí">
                                                <span>Miễn phí</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="header-apps">
                        <a href="/ung-dung-mobile" target="_blank"><span class="fa fa-mobile"></span>&nbsp;Apps</a>
                    </div>
                    <div class="longin-box-and-language">

                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
                <div class="home-banner-1-2-container">
                    <div id="home-banner-1-2-main">
                        <div class="main-image">
                            <img src="https://media.foody.vn/biz_banner/foody-hai%20san%20v68%201170x375-636316615549556692.jpg" alt="V68 - Hải Sản Các Món" title="V68 - Hải Sản Các Món" class="big-img">
                        </div>
                        <div class="image-thumb">
                            <ul>
                                <li class="">
                                    <a href="https://media.foody.vn/biz_banner/foody-1170-375-dwok-01-636287268596165301.jpg" title="DWOK - Ẩm Thực Singapore">
                                        <img src="https://media.foody.vn/biz_banner/s40x40/foody-1170-375-dwok-01-636287268596165301.jpg" alt="DWOK - Ẩm Thực Singapore" title="DWOK - Ẩm Thực Singapore">
                                    </a>
                                    <div class="block">
                                        <div class="thumb-descr"><p><span style="font-size:11px">Ẩm thực Singapore - Cua giá&nbsp;chỉ&nbsp;520,000/kg</span></p>
                                        </div>
                                        <h2><a title="DWOK - Ẩm Thực Singapore">DWOK - Ẩm Thực Singapore</a></h2>
                                        <div class="lst-left-thumb-img-container">
                                            <div class="lst-left-thumb-img">
                                            <a target="_blank" href="https://www.foody.vn/ha-noi/dwok-am-thuc-singapore" title="DWOK - Ẩm Thực Singapore" class="detail-link-overlay" onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'DWOK - Am Thuc Singapore');">&nbsp;</a><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'DWOK - Am Thuc Singapore');" width="0" height="0"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="">
                                <a href="https://media.foody.vn/biz_banner/foody-salmonoid%201170x375-636322705502527649.jpg" title="Salmonoid - Món Âu - Cao Bá Quát">
                                <img src="https://media.foody.vn/biz_banner/s40x40/foody-salmonoid%201170x375-636322705502527649.jpg" alt="Salmonoid - Món Âu - Cao Bá Quát" title="Salmonoid - Món Âu - Cao Bá Quát">
                                </a>
                                <div class="block">
                                <div class="thumb-descr"><p><span style="font-size:11px">For this so hot Summer</span></p>
                                </div>
                                <h2><a title="Salmonoid - Món Âu - Cao Bá Quát">Salmonoid - Món Âu - Cao Bá Quát</a></h2>
                                <div class="lst-left-thumb-img-container">
                                <div class="lst-left-thumb-img">
                                <a target="_blank" href="https://www.tablenow.vn/ha-noi/salmonoid-cao-ba-quat" title="Salmonoid - Món Âu - Cao Bá Quát" class="detail-link-overlay" onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'Salmonoid - Mon Au - Cao Ba Quat');">&nbsp;</a><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'Salmonoid - Mon Au - Cao Ba Quat');" width="0" height="0"></div>
                                </div>
                                </div>
                                </li>
                                <li class="">
                                <a href="https://media.foody.vn/biz_banner/foody-6-5%20copy%20copy3333333333-636316502668694427.jpg" title="Bò Tơ Tây Ninh Tài Sanh - Chùa Bộc">
                                <img src="https://media.foody.vn/biz_banner/s40x40/foody-6-5%20copy%20copy3333333333-636316502668694427.jpg" alt="Bò Tơ Tây Ninh Tài Sanh - Chùa Bộc" title="Bò Tơ Tây Ninh Tài Sanh - Chùa Bộc">
                                </a>
                                <div class="block">
                                <div class="thumb-descr"><p><span style="font-size:11px"><span style="font-family:arial,helvetica,sans-serif">Rộng rãi, thoáng đãng, không gian không bị ồn ào.</span></span></p>
                                </div>
                                <h2><a title="Bò Tơ Tây Ninh Tài Sanh - Chùa Bộc">Bò Tơ Tây Ninh Tài Sanh - Chùa Bộc</a></h2>
                                <div class="lst-left-thumb-img-container">
                                <div class="lst-left-thumb-img">
                                <a target="_blank" href="https://www.foody.vn/ha-noi/bo-to-tay-ninh-tai-sanh-chua-boc/khuyen-mai/4466" title="Bò Tơ Tây Ninh Tài Sanh - Chùa Bộc" class="detail-link-overlay" onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'Bo To Tay Ninh Tai Sanh - Chua Boc');">&nbsp;</a><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'Bo To Tay Ninh Tai Sanh - Chua Boc');" width="0" height="0"></div>
                                </div>
                                </div>
                                </li>
                                <li class="">
                                <a href="https://media.foody.vn/biz_banner/foody-hai%20san%20v68%201170x375-636316615549556692.jpg" title="V68 - Hải Sản Các Món">
                                <img src="https://media.foody.vn/biz_banner/s40x40/foody-hai%20san%20v68%201170x375-636316615549556692.jpg" alt="V68 - Hải Sản Các Món" title="V68 - Hải Sản Các Món">
                                </a>
                                <div class="block">
                                <div class="thumb-descr"><p><span style="font-size:11px">Giảm ngay 20% tổng hóa đơn cho khách đặt bàn trước.</span></p>
                                </div>
                                <h2><a title="V68 - Hải Sản Các Món">V68 - Hải Sản Các Món</a></h2>
                                <div class="lst-left-thumb-img-container">
                                <div class="lst-left-thumb-img">
                                <a target="_blank" href="https://www.foody.vn/ha-noi/v68-hai-san-cac-mon/khuyen-mai/4769" title="V68 - Hải Sản Các Món" class="detail-link-overlay" onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'V68 - Hai San Cac Mon');">&nbsp;</a><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'V68 - Hai San Cac Mon');" width="0" height="0"></div>
                                </div>
                                </div>
                                </li>
                                <li class="active">
                                <a href="https://media.foody.vn/biz_banner/foody-bbq%20plus%201170x375-636322563573478363.jpg" title="BBQ Plus - Buffet Nướng &amp; Lẩu Hàn Quốc">
                                <img src="https://media.foody.vn/biz_banner/s40x40/foody-bbq%20plus%201170x375-636322563573478363.jpg" alt="BBQ Plus - Buffet Nướng &amp; Lẩu Hàn Quốc" title="BBQ Plus - Buffet Nướng &amp; Lẩu Hàn Quốc">
                                </a>
                                <div class="block">
                                <div class="thumb-descr"><p><span style="font-size:11px">Ăn 4 tặng 1 - Ăn buffet nướng&nbsp;tặng lẩu</span></p>
                                </div>
                                <h2><a title="BBQ Plus - Buffet Nướng &amp; Lẩu Hàn Quốc">BBQ Plus - Buffet Nướng &amp; Lẩu Hàn Quốc</a></h2>
                                <div class="lst-left-thumb-img-container">
                                <div class="lst-left-thumb-img">
                                <a target="_blank" href="https://www.foody.vn/ha-noi/bbq-plus-buffet-nuong-lau-han-quoc" title="BBQ Plus - Buffet Nướng &amp; Lẩu Hàn Quốc" class="detail-link-overlay" onclick="ga('ads.send', 'event', 'Banner trang chu', 'Click', 'BBQ Plus - Buffet Nuong &amp; Lau Han Quoc');">&nbsp;</a><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="ga('ads.send', 'event', 'Banner trang chu', 'Impression', 'BBQ Plus - Buffet Nuong &amp; Lau Han Quoc');" width="0" height="0"></div>
                                </div>
                                </div>
                                <div class="arrow-current"></div></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        <div id="body" class="main-content">
            @RenderBody()
        </div>
        <script src="~/Scripts/angular.min.js" type="text/javascript"></script>
        <script src="~/Scripts/MainModule.js" type="text/javascript"></script>
        <script src="~/Scripts/CityController.js" type="text/javascript"></script>
        <script src="~/Scripts/CategoryController.js" type="text/javascript"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
