<div class="category">
    Danh mục
</div>
<ul>
    <li>
        <a ng-class="{'active':MenuId=='1'}" href="#places" class="active">Ở đâu <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a ng-class="{'active':MenuId=='3'}" href="#booking">Đặt bàn <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a ng-class="{'active':MenuId=='2'}" href="#delivery">Giao hàng <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a ng-class="{'active':MenuId=='5'}" href="#foods">Ăn gì <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a ng-class="{'active':MenuId=='4'}" href="#collections">Sưu tập <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a ng-class="{'active':MenuId=='6'}" href="#video">TV <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a ng-class="{'active':MenuId=='7'}" href="#reviews">Bình luận <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a ng-class="{'active':MenuId=='8'}" href="#food/articles">Blogs <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a ng-class="{'active':MenuId=='11'}" href="#promotion">Khuyến mãi <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a ng-class="{'active':MenuId=='10'}" href="#bank-card">Bank-Card <i class="fa fa-angle-right"></i></a>
    </li>
</ul>