<div class="category">
    Danh mục
</div>
<ul>
    <li>
        <a href="#places" class="active">Ở đâu <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a href="#booking">Đặt bàn <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a href="#delivery">Giao hàng <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a href="#foods">Ăn gì <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a href="#collections">Sưu tập <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a href="#video">TV <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a href="#reviews">Bình luận <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a href="#food/articles">Blogs <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a href="#promotion">Khuyến mãi <i class="fa fa-angle-right"></i></a>
    </li>
    <li>
        <a href="#bank-card">Bank-Card <i class="fa fa-angle-right"></i></a>
        @*ng-class="{'active':MenuId=='10'}" *@
    </li>
</ul>