<div id="tab-footer-top-friend-user" class="microsite-banner-edge" style="background-color: #fff; padding: 20px 0; float: left; clear: both; width: 100%;">
    <ul class="home-tab" style="width: 1170px; margin: 0 auto;">
        <li class="active">
            <a href="#tab-footer-top-user" style="padding: 15px 0; margin-right: 60px;">Top Thành viên</a>
        </li>
    </ul>
    <div id="tab-footer-top-user" style="display: block;">
        <div class="footer-down-app-wrap" style="background:#fff;height:140px;margin-bottom:-20px; width: 1170px; margin: 0 auto;">
            <div class="footer-down-app">
                <div class="footer-friends">
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/0908758242" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g196/1953660/avt/c60x60/0908758242-avatar-885-636139606342232460.jpg" alt="0908758242" title="0908758242">
                                </span>
                                <span class="user-name">06/04/2017 .</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/vovu1995" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g219/2189945/avt/c60x60/vovu1995-avatar-611-636325612969933864.jpg" alt="vovu1995" title="vovu1995">
                                    <span class="checked-verified-icon top-user-annual-points"></span>
                                </span>
                                <span class="user-name"> Vũ Võ</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/ddminh24h" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g191/1904943/avt/c60x60/foody-avatar-817-636305264756869145.jpg" alt="ddminh24h" title="ddminh24h">
                                    <span class="checked-verified-icon top-user-annual-points"></span>
                                </span>
                                <span class="user-name">Minh Đỗ</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/p3_can15" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g183/1820047/avt/c60x60/p3_can15-avatar-364-636319069820204784.jpg" alt="p3_can15" title="p3_can15">
                                    <span class="checked-verified-icon top-user-annual-points"></span>
                                </span>
                                <span class="user-name">trakity 1518</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/nhhdvh97" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g42/415013/avt/c60x60/foody-avatar-943-636313942385514430.jpg" alt="nhhdvh97" title="nhhdvh97">
                                    <span class="checked-verified-icon top-user-annual-points"></span>
                                </span>
                                <span class="user-name">Huy Nguyễn</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/nam.tn.9999" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g140/1396036/avt/c60x60/nam-tn-9999-avatar-774-636175686690067025.jpg" alt="nam.tn.9999" title="nam.tn.9999">
                                    <span class="checked-verified-icon top-user-annual-points"></span>
                                </span>
                                <span class="user-name">Nhật  Nam</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/chimie102" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g89/882687/avt/c60x60/chimie102-avatar-169-636207933848135024.jpg" alt="chimie102" title="chimie102">
                                    <span class="checked-verified-icon top-user-annual-points"></span>
                                </span>
                                <span class="user-name">Linh Chim</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/windynguyen11995" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g42/413092/avt/c60x60/windynguyen11995-avatar-881-636323388053465322.jpg" alt="windynguyen11995" title="windynguyen11995">
                                    <span class="checked-verified-icon top-user-annual-points"></span>
                                </span>
                                <span class="user-name">👑 M i n h A n n 👑</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/italiho" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g837/8368419/avt/c60x60/italiho-avatar-920-636259645902021932.jpg" alt="italiho" title="italiho">
                                </span>
                                <span class="user-name">Italiho Hồ</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/nachhilfe.tran" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g36/354504/avt/c60x60/foody-avatar-997-636290051810387618.jpg" alt="nachhilfe.tran" title="nachhilfe.tran">
                                    <span class="checked-verified-icon top-user-annual-points"></span>
                                </span>
                                <span class="user-name">Tra Tran</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/pebap_lovely" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g95/945545/avt/c60x60/foody-avatar-695-636196904493137612.jpg" alt="pebap_lovely" title="pebap_lovely">
                                    <span class="checked-verified-icon top-user-annual-points"></span>
                                </span>
                                <span class="user-name">Nga Trần</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/tranthuysieuha" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g19/189216/avt/c60x60/tranthuysieuha-avatar-860-636258156064474308.jpg" alt="tranthuysieuha" title="tranthuysieuha">
                                    <span class="checked-verified-icon top-user-annual-points"></span>
                                </span>
                                <span class="user-name">Thủy Trần</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/oanh.do.0811" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g226/2254738/avt/c60x60/foody-avatar-512-636139688771614880.jpg" alt="oanh.do.0811" title="oanh.do.0811">
                                </span>
                                <span class="user-name">Oanh đỗ</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/chaupham815" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g130/1292369/avt/c60x60/chaupham815-avatar-783-636312350456001261.jpg" alt="chaupham815" title="chaupham815">
                                    <span class="checked-verified-icon top-user-annual-points"></span>
                                </span>
                                <span class="user-name">Ashley Sugary</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/thanh-vien/cloverelric" rel="nofollow">
                                <span style="position: relative">
                                    <img src="https://media.foody.vn/usr/g63/624800/avt/c60x60/cloverelric-avatar-504-636251184263368290.jpg" alt="cloverelric" title="cloverelric">
                                </span>
                                <span class="user-name">Clover  Elric</span>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="footer-friends-data">
                            <a href="/ha-noi/top-thanh-vien">
                                <span class="more">Top</span>
                                <div>View more</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>