<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DbSeaFoody" connectionString="Data Source=107-55-PC\SQL2014ENTER;Initial Catalog=VietnameseFoody;Trusted_Connection=True;Integrated Security=SSPI ;User ID=sa;Password=123456;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnDB" connectionString="Data Source=myServerAddress;Initial Catalog=myDataBase;Integrated Security=SSPI;User ID=myDomain\myUsername;Password=myPassword;" />-->
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SeafoodAPI.City">
        <endpoint address="" behaviorConfiguration="SeafoodAPI.CityAspNetAjaxBehavior"
          binding="webHttpBinding" contract="SeafoodAPI.IServices.ICity" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SeafoodAPI.CityAspNetAjaxBehavior">
          <webHttp /> 
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
