@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<h1 style="padding-left: 15px;">Quản lý địa điểm</h1>
<div class="search-box col-md-12" id="frmSearchLocation">
    <div class="row">
        <div class="col-md-6">
            <input type="text" id="txtSearchText" class="form-control" id="txtSearchText" placeholder="-- Tên sự kiện --" />
        </div>
        <div class="col-md-3">
            <div class='input-group date' >
                <input type='text' id='txtStartDate' value= "@(new DateTime(DateTime.Now.Year, DateTime.Now.Month,1).ToString("dd/MM/yyyy"))" placeholder="-- Ngày bắt đầu --" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class='input-group date' >
                <input type='text' id='txtEndDate' placeholder="-- Ngày kết thúc --" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div style="width: 100%;margin-top:3px; margin-bottom: 3px;">
        <button id="btnSearch" class="btn btn-success" type="button"><i class="icon-search"></i>&nbsp;Tìm kiếm</button>
        <button id="btnAddNew" class="btn btn-success" type="button"><i class="icon-plus"></i>&nbsp;Tạo mới</button>
    </div>
    
</div>
<div class="search-event" style="width: 100%;margin-top:15px;" id="SearchLocation">
    <div class="additonal-action"></div>
    <div id="search-content-list" class="col-md-12"></div>
</div>
<div  id="CreateEvent" class="create-event hide"  style="width: 100%;margin-top:15px;">
    
</div>
<div id="EditEvent" class="create-event hide"  style="width: 100%;margin-top:15px;">
    
</div>

<script type="text/javascript">
    location_index.init();
</script>

